@charset "utf-8";

.viz-error-container { container-type: size; width: 100%; overflow: hidden; text-align: center; height: 100%; flex-direction: column; display: flex; justify-content: center; align-items: center; }

.viz-error-container .forge-typography--body1 { color: var(--neutral-black-87, rgba(0, 0, 0, 0.87)); }

.viz-error-container img.viz-error-img { width: 23.25%; max-width: 243px; min-width: 190px; }

.viz-error-container .forge-typography--heading4 { padding-bottom: 16px; color: var(--neutral-black-54, rgba(0, 0, 0, 0.5)); padding-left: 5px; padding-right: 5px; }

@container (max-height: 300px) {
  .viz-error-img { display: none; }
}

.svg-holder { height: 100%; }