@charset "utf-8";

:root { --default-font-stack: "Roboto", "Helvetica", Arial, sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6 { margin: 0px; padding: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-size: 100%; letter-spacing: -0.3px; font-weight: 600; }

.h1 { font-size: 23px; }

.h2 { font-size: 20px; }

.h3 { font-size: 20px; }

.h4 { font-size: 19px; }

.h5 { font-size: 17px; }

.h6 { font-size: 15px; }

.intro { font-size: 17px; font-weight: 200; }

.small { font-size: 13px; }

.x-small { font-size: 11px; }

.quiet { color: rgb(118, 118, 118); }

.common--components--Autocomplete--autocomplete--container { position: relative; }

.common--components--Autocomplete--autocomplete--collapsed-icon { cursor: pointer; }

.common--components--Autocomplete--autocomplete--collapsed-icon:not(.for-admin-header) { margin-top: -4px; margin-left: -2px; }

.common--components--Autocomplete--autocomplete--collapsed-icon:not(.for-admin-header) > .socrata-icon { display: inline-block; height: 15px; position: relative; width: 19px; }

.common--components--Autocomplete--autocomplete--collapsed-icon:not(.for-admin-header) svg { height: 27px; left: 0px; position: absolute; top: 0px; width: 22px; }

.common--components--Autocomplete--autocomplete--collapsed-icon:not(.for-admin-header) svg path { fill: rgb(255, 255, 255); }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header { height: 46px; margin-right: 0px; padding: 13px 0px; position: relative; }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header > .socrata-icon { display: block; height: 18px; width: 18px; }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header svg { height: 18px; width: 18px; }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header svg path { fill: rgb(255, 255, 255); }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header.site-chrome-small { height: 32px; padding: 6px 0px 2px; }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header.site-chrome-small > .socrata-icon { height: 14px; margin-top: 4px; width: 14px; }

.common--components--Autocomplete--autocomplete--collapsed-icon--for-admin-header.site-chrome-small svg { height: 14px; width: 14px; }

.common--components--Autocomplete--autocomplete--no-results { background-color: rgb(255, 255, 255); border: 2px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px; padding: 5px 10px; }