@charset "utf-8";

.socrata-flannel { position: fixed; background: rgb(255, 255, 255); max-width: 350px; box-shadow: rgb(118, 118, 118) 0px 0px 8px -2px; border: 1px solid rgb(200, 200, 200); z-index: 1000; }

@media (max-width: 420px) {
  .socrata-flannel { max-width: none; width: 100vw; height: 100vh; position: fixed; z-index: 9999; }
}

.socrata-flannel .socrata-flannel-arrow { width: 20px; height: 20px; transform: rotate(45deg); background-color: rgb(255, 255, 255); position: absolute; z-index: -1; }

.socrata-flannel .socrata-flannel-arrow.bottom, .socrata-flannel .socrata-flannel-arrow.bottom-left, .socrata-flannel .socrata-flannel-arrow.bottom-right { top: calc(-9px); }

.socrata-flannel .socrata-flannel-arrow.top, .socrata-flannel .socrata-flannel-arrow.top-left, .socrata-flannel .socrata-flannel-arrow.top-right { bottom: calc(-9px); }

.socrata-flannel .socrata-flannel-arrow.bottom, .socrata-flannel .socrata-flannel-arrow.top { left: 50%; }

.socrata-flannel .socrata-flannel-arrow.bottom-left, .socrata-flannel .socrata-flannel-arrow.top-left { left: 20px; }

.socrata-flannel .socrata-flannel-arrow.bottom-right, .socrata-flannel .socrata-flannel-arrow.top-right { right: 20px; }

.socrata-flannel .socrata-flannel-arrow.right, .socrata-flannel .socrata-flannel-arrow.right-top, .socrata-flannel .socrata-flannel-arrow.right-bottom { left: calc(-9px); }

.socrata-flannel .socrata-flannel-arrow.left, .socrata-flannel .socrata-flannel-arrow.left-top, .socrata-flannel .socrata-flannel-arrow.left-bottom { right: calc(-9px); }

.socrata-flannel .socrata-flannel-arrow.right, .socrata-flannel .socrata-flannel-arrow.left { top: calc(50% - 9px); }

.socrata-flannel .socrata-flannel-arrow.right-top, .socrata-flannel .socrata-flannel-arrow.left-top { top: 20px; }

.socrata-flannel .socrata-flannel-arrow.right-bottom, .socrata-flannel .socrata-flannel-arrow.left-bottom { bottom: 20px; }

.socrata-flannel-header { display: flex; }

.socrata-flannel-header .socrata-flannel-header-title { margin: auto auto auto 10px; font-size: 17px; }

.socrata-flannel-header-dismiss { color: rgb(145, 145, 145); }

.socrata-flannel-header-dismiss:hover { color: rgb(94, 94, 94); }

.socrata-flannel-content { padding: 10px; }

.socrata-flannel-content > :first-child { margin-top: 0px; }

.socrata-flannel-content > :last-child { margin-bottom: 0px; }

.socrata-flannel-footer { background: rgb(255, 255, 255); box-shadow: rgb(118, 118, 118) 0px 0px 8px -2px; height: 50px; text-align: right; }

.socrata-flannel-footer .btn { margin-right: 6px; }

.socrata-flannel-footer .btn:last-child { margin-right: 0px; }