@charset "utf-8";

.socrata-visualization-source-data-options { margin: 1px -4px 0px 0px; }

.socrata-visualization-source-data-options .dropdown-focused .dropdown-computed-placeholder { border-color: rgb(230, 249, 245); outline: rgb(0, 190, 155) solid 2px; z-index: 51; }

.socrata-visualization-source-data-options .dropdown-container { padding-top: 1px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-computed-placeholder { z-index: 0; border: none; padding: 0px 30px 0px 10px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-computed-placeholder:hover { background-color: rgb(248, 248, 248); }

.socrata-visualization-source-data-options .dropdown-container .dropdown-computed-placeholder .placeholder { font-size: 12px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-computed-placeholder .dropdown-caret.socrata-icon-arrow-down { width: 14px; height: 14px; right: 5px; top: 3px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-options-list { text-align: left; font-size: 12px; position: absolute; right: -3px; top: 22px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-options-list .picklist-option { color: rgb(94, 94, 94); padding: 0px 24px 0px 8px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-options-list .picklist-option:hover { background-color: rgb(248, 248, 248); }

.socrata-visualization-source-data-options .dropdown-container .dropdown-options-list .picklist-option .socrata-icon { position: absolute; height: 14px; width: 14px; right: 4px; top: 2px; }

.socrata-visualization-source-data-options .dropdown-container .dropdown-options-list .picklist-option-selected { background-color: rgb(248, 248, 248); }

.socrata-visualization-export-data-container { text-align: left; font-size: 15px; max-height: 100%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.socrata-visualization-export-data-container .socrata-flannel-header-title { margin: 13px auto 10px 10px; font-size: 16px; }

.socrata-visualization-export-data-container .socrata-flannel-content { padding: 15px 10px; }

.socrata-visualization-export-data-container .featured-download-links { list-style-type: none; padding: 0px; margin: 10px 0px 0px; overflow: hidden; }

.socrata-visualization-export-data-container .featured-download-links li { float: left; border: 1px solid rgb(173, 173, 173); margin: 10px 10px 0px 0px; }

.socrata-visualization-export-data-container .featured-download-links li a { text-decoration: none; cursor: pointer; font-size: 15px; padding: 0px 30px; line-height: 30px; color: rgb(71, 71, 71); }

.socrata-visualization-export-data-container .additional-links-title { margin-top: 30px; }

.socrata-visualization-export-data-container .restof-download-links ul { float: left; list-style-type: none; padding: 0px; margin: 15px 15px 10px 0px; }

.socrata-visualization-export-data-container .restof-download-links ul li { margin-bottom: 15px; }

.socrata-visualization-export-data-container .restof-download-links ul li a { text-decoration: underline; color: rgb(28, 99, 135); cursor: pointer; }