@charset "utf-8";

.cs-multi-column-list .cs-multi-column-list__list { margin: 0px; column-count: 3; column-gap: 32px; padding: 0px 32px; }

.cs-multi-column-list .cs-multi-column-list__list > li { list-style: none; margin-left: 0px; line-height: 1.7; }

.cs-multi-column-list .cs-multi-column-list__list a:link, .cs-multi-column-list .cs-multi-column-list__list a:visited { text-decoration: none; color: inherit; }

.cs-multi-column-list .cs-multi-column-list__list a:hover, .cs-multi-column-list .cs-multi-column-list__list a:focus { text-decoration: underline; color: inherit; }

.cs-multi-column-list .cs-multi-column-list__list.cs-multi-column-list__list--bullets > li { list-style: disc; margin-left: 1em; }

@media screen and (min-width: 1200px) {
  .cs-multi-column-list .cs-lg-cols-4 { column-count: 4; }
  .cs-multi-column-list .cs-lg-cols-3 { column-count: 3; }
  .cs-multi-column-list .cs-lg-cols-2 { column-count: 2; }
  .cs-multi-column-list .cs-lg-cols-1 { column-count: 1; }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cs-multi-column-list .cs-md-cols-4 { column-count: 4; }
  .cs-multi-column-list .cs-md-cols-3 { column-count: 3; }
  .cs-multi-column-list .cs-md-cols-2 { column-count: 2; }
  .cs-multi-column-list .cs-md-cols-1 { column-count: 1; }
}

@media screen and (max-width: 767px) {
  .cs-multi-column-list .cs-sm-cols-4 { column-count: 4; }
  .cs-multi-column-list .cs-sm-cols-3 { column-count: 3; }
  .cs-multi-column-list .cs-sm-cols-2 { column-count: 2; }
  .cs-multi-column-list .cs-sm-cols-1 { column-count: 1; }
}