@charset "utf-8";

:root { --default-font-stack: "Roboto", "Helvetica", Arial, sans-serif; }

.dismissible-session-banner { padding: 1em; background-color: rgb(230, 175, 0); font-family: var(--default-font-stack); display: flex; justify-content: space-between; align-items: center; line-height: 1.5em; }

.dismissible-session-banner a { text-decoration: underline; }

.dismissible-session-banner .btn { cursor: pointer; color: inherit; }

.dismissible-session-banner .btn .btn-dismiss-banner { width: 1.5em; height: 1.5em; }

.dismissible-session-banner .banner-text { display: table; margin: 0px auto; }

.dismissible-session-banner :focus { outline: rgb(66, 191, 255) solid 1px; }