@charset "utf-8";

.type-icon-disabled { color: rgb(118, 118, 118) !important; }

.soql-type-icon-date { color: rgb(178, 107, 0); }

.soql-type-icon-text { color: rgb(32, 68, 144); }

.soql-type-icon-number { color: rgb(0, 152, 200); }

.soql-type-icon-boolean { color: rgb(137, 75, 170); }

.soql-type-icon-check { color: rgb(137, 75, 170); }

.soql-type-icon-location { color: rgb(40, 141, 193); }

.soql-type-icon-point { color: rgb(40, 141, 193); }