@charset "utf-8";

:root { --default-font-stack: "Roboto", "Helvetica", Arial, sans-serif; }

.alert, .flash { background-color: rgb(246, 246, 246); border: 1px solid rgb(200, 200, 200); border-radius: 1px; color: rgb(94, 94, 94); font-weight: normal !important; }

.alert > a:not(.btn), .alert a:visited:not(.btn), .flash > a:not(.btn), .flash a:visited:not(.btn) { font-weight: bold; color: rgb(28, 99, 135); }

.alert.small, .flash.small { text-align: center; font-size: 12px; }

.alert.info, .alert.notice, .flash.info, .flash.notice { background-color: rgb(234, 244, 249); border-color: rgb(40, 141, 193); color: rgb(28, 99, 135); }

.alert.success, .flash.success { background-color: rgb(234, 247, 239); border-color: rgb(43, 175, 95); color: rgb(23, 123, 65); }

.alert.warning, .flash.warning { background-color: rgb(253, 249, 237); border-color: rgb(230, 175, 0); color: rgb(138, 105, 0); }

.alert.error, .flash.error { background-color: rgb(250, 240, 240); border-color: rgb(206, 101, 101); color: rgb(145, 70, 70); }

.alert.alert-full-width-top, .flash.alert-full-width-top { border-top: 0px; border-left: 0px; border-right: 0px; }

.alert.alert-full-width-bottom, .flash.alert-full-width-bottom { border-bottom: 0px; border-left: 0px; border-right: 0px; }

.input-group { position: relative; display: flex; }

.input-group .text-input { border-top-right-radius: 0px; border-bottom-left-radius: 0px; flex: 1 0 0%; }

.input-group .input-group-btn { position: relative; }

.input-group .input-group-btn .btn { border-left: none; margin-left: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.input-group .input-group-btn .btn.btn-lg { padding: 13px 17px; }

.input-group .input-group-btn .btn.btn-sm { padding: 11px 13px; }

.input-group .input-group-btn .btn.btn-xs { padding: 10px 13px; }

.input-group .input-group-btn .dropdown { margin-right: -0.1px; font-family: var(--default-font-stack); line-height: 1.25; }

.input-group .input-group-btn .dropdown .socrata-icon-arrow-down { padding-right: 0px; }

@media (max-width: 420px) {
  .input-group-btn .dropdown { margin-right: 0px; }
}

.dropdown { display: inline-block; position: relative; }

.dropdown > span[class*="socrata-icon-"] { }

.dropdown .dropdown-options { position: absolute; left: 0px; right: inherit; min-width: 8em; background: rgb(255, 255, 255); border-radius: 1px; list-style: none; padding: 0px; box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 15px; opacity: 0; pointer-events: none; }

.dropdown.dropdown-orientation-top .dropdown-options { bottom: 100%; }

.dropdown.dropdown-orientation-bottom .dropdown-options { top: 100%; }

.dropdown .dropdown-options li a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; text-decoration: none; text-align: left; color: rgb(94, 94, 94); }

.dropdown .dropdown-options li a > span[class*="socrata-icon-"] { }

.dropdown .dropdown-options li:hover a { background: rgb(241, 241, 241); }

.dropdown.active .dropdown-options { opacity: 1; pointer-events: auto; margin: 1px 0px; z-index: 1; }

.add-filter .btn-add-filter { padding: 8px 0px; }

.add-filter .add-filter-menus-container { position: relative; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container { border: 1px solid rgb(200, 200, 200); margin-top: -1px; overflow: hidden; position: absolute; width: 300px; z-index: 9999; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider { display: flex; left: 0px; position: relative; transition: left 0.3s; width: 600px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider.regions-opened { left: -300px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .add-filter-columns-container { background: rgb(255, 255, 255); width: 300px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .add-filter-columns-container .alert.info { margin-top: 8px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .add-filter-columns-container .add-filter-picklist-options { border-top: 1px solid rgb(200, 200, 200); }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .add-filter-columns-container .column-option { display: inline-block; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .add-filter-columns-container .column-option span:nth-child(2) { overflow: hidden; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .computed-column-selector-container { background: rgb(255, 255, 255); width: 300px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .computed-column-selector-container .picklist { border: none; max-height: 399px; }

.add-filter .add-filter-menus-container .add-filter-menus-inner-container .add-filter-slider .computed-column-selector-container .picklist:focus { outline: none; }

.add-filter-picklist { font-size: 12px; }

.add-filter-picklist .add-filter-picklist-input-container { position: relative; margin: 8px; }

.add-filter-picklist .add-filter-picklist-input-container .add-filter-picklist-input { width: 100%; border: 1px solid rgb(200, 200, 200); padding: 8px 28px; }

@media (max-width: 420px) {
  .add-filter-picklist .add-filter-picklist-input-container .add-filter-picklist-input { font-size: 16px; }
}

.add-filter-picklist .add-filter-picklist-input-container .add-filter-picklist-input:focus { border-color: rgb(230, 249, 245); outline: rgb(0, 190, 155) solid 2px; }

.add-filter-picklist .add-filter-picklist-input-container .add-filter-picklist-input:disabled { color: rgb(145, 145, 145); background-color: rgb(246, 246, 246); }

.add-filter-picklist .add-filter-picklist-input-container .socrata-icon { position: absolute; width: 20px; height: 20px; left: 6px; top: 6px; color: rgb(228, 228, 228); }

.add-filter-picklist .add-filter-picklist-options { max-height: 350px; overflow-y: auto; }

.add-filter-picklist .add-filter-picklist-options .picklist { border: none; }

.add-filter-picklist .add-filter-picklist-options .picklist .picklist-group-header { border-left: 3px solid transparent; }

.add-filter-picklist .add-filter-picklist-options .picklist:focus { border: none; outline: none; }

.add-filter-picklist .add-filter-picklist-options .picklist:focus .picklist-group-header { border-left: 3px solid rgb(0, 190, 155); }

.add-filter-picklist .picklist-option { cursor: pointer; padding: 8px; }

.add-filter-picklist .alert { font-size: 12px; border: none; }

.filter-bar-filter { margin-right: 8px; color: rgb(71, 71, 71); display: inline-block; vertical-align: top; }

.filter-bar-filter .socrata-icon svg { vertical-align: inherit; }

.filter-bar-filter form { margin: 0px; }

.filter-bar-filter .filter-control-label { display: block; font-size: 11px; height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 176px; }

.filter-bar-filter .filter-controls { position: absolute; top: 100%; margin-top: -1px; border-radius: 1px; border: 1px solid rgb(200, 200, 200); }

.filter-bar-filter .filter-control-container { display: inline-block; position: relative; }

.filter-bar-filter .filter-control-container .filter-control-toggle { padding: 5px 20px 5px 10px; min-height: 30px; border: 1px solid rgb(200, 200, 200); position: relative; cursor: pointer; width: 176px; max-width: 176px; border-top-left-radius: 1px; border-bottom-left-radius: 1px; user-select: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.filter-bar-filter .filter-control-container .filter-control-toggle.disabled { cursor: not-allowed; background-color: rgba(0, 0, 0, 0.12); }

.filter-bar-filter .filter-control-container .filter-control-toggle.disabled:hover, .filter-bar-filter .filter-control-container .filter-control-toggle.disabled:focus, .filter-bar-filter .filter-control-container .filter-control-toggle.disabled:active { color: rgb(118, 118, 118); border: 1px solid rgb(200, 200, 200); outline: 0px; box-shadow: none; }

.filter-bar-filter .filter-control-container .filter-control-toggle .arrow-down-icon { position: absolute; right: 6px; top: 3px; }

.filter-bar-filter .filter-config-container { display: inline-block; position: relative; vertical-align: top; }

.filter-bar-filter .filter-config-container .filter-config-toggle { border: 1px solid rgb(200, 200, 200); margin-left: -1px; padding: 7px 2px 3px 5px; cursor: pointer; border-top-right-radius: 1px; border-bottom-right-radius: 1px; }

.filter-bar-filter .filter-config-container .filter-config-toggle .kebab-icon .socrata-icon { margin-right: 0px; }

.filter-bar-filter .filter-config-container .filter-config-toggle .kebab-icon .socrata-icon svg { height: 12px; width: 12px; }

@media (max-width: 420px) {
  .filter-bar-filter .filter-control-container { position: unset; }
  .filter-bar-filter .filter-control-container .filter-controls { left: 1%; width: 98%; margin-top: -6px; }
}

.filter-controls { width: 325px; background: rgb(255, 255, 255); font-size: 12px; }

.filter-controls .filter-control-title { position: relative; margin: 8px; }

.filter-controls .filter-control-title h3 { font-size: 12px; font-weight: normal; letter-spacing: 0px; }

.filter-controls .range-filter-container { padding: 8px; }

@media (max-width: 420px) {
  .filter-controls .range-filter-container input { font-size: 16px; }
}

.filter-controls .range-filter-container .filter-control-title { margin: 0px 0px 8px; }

.filter-controls .range-filter-container .range-text-inputs-container .range-input { flex-grow: 4; max-width: 150px; overflow: hidden; padding-left: 10px; padding-right: 10px; }

@media (max-width: 420px) {
  .filter-controls .range-filter-container .range-text-inputs-container .range-input { font-size: 16px; }
}

.filter-controls .range-filter-container .range-text-inputs-container .range-separator { flex-grow: 1; margin: 8px; text-align: center; align-self: center; }

.filter-controls .value-filter-container { padding: 8px; }

.filter-controls .value-filter-container input { border: 1px solid rgb(200, 200, 200); font-size: 12px; height: 31px; padding: 8px; width: 100%; }

@media (max-width: 420px) {
  .filter-controls .value-filter-container input { font-size: 16px; }
}

.filter-config { color: rgb(71, 71, 71); line-height: 1.618; font-size: 12px; top: 100%; width: 400px; margin-top: -1px; background: rgb(255, 255, 255); border-radius: 1px; border: 1px solid rgb(200, 200, 200); }

.filter-config #filter-sorting-order-by-selection { padding: 7px 0px; width: 90%; }

.filter-config #filter-sorting-order-by-selection .dropdown-container.dropdown-size-large .dropdown-placeholder { font-size: 13px; }

.filter-config #filter-sorting-order-by-selection.picklist-size-large { width: 100%; }

.filter-config .filter-options { margin: 15px; }

.filter-config .filter-options .option-label { font-weight: 600; }

.filter-config .filter-options .radio-button-group { display: flex; flex-direction: column; }

.filter-config .filter-single-value-container { display: flex; gap: 8px; }

.parameter-input-container { padding: 20px 8px 8px; margin-bottom: 10px; }

.parameter-input-container input { padding: 5px; width: 100%; }

@media (max-width: 420px) {
  .parameter-input-container input { font-size: 16px; }
}

.filter-bar-filter .filter-control-container .filter-control-toggle.boolean-parameter { text-overflow: unset; background-color: rgb(255, 255, 255); padding: 1px 5px; }

.filter-control-container forge-checkbox label { max-width: 136px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; }

.parameter-dropdown-options { width: 256px; }

.parameter-dropdown-options forge-list { overflow-y: auto; max-height: 256px; }

.filter-controls.calendar-date-filter { min-width: 176px; width: auto; }

.filter-controls.calendar-date-filter .text-input { border: 1px solid rgb(200, 200, 200); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; font-family: var(--default-font-stack); line-height: normal; }

.filter-controls.calendar-date-filter .text-input:disabled { border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.filter-controls.calendar-date-filter .text-input:focus { outline: -webkit-focus-ring-color auto 5px; }

.filter-controls.calendar-date-filter .text-input.text-input-lg { }

.filter-controls.calendar-date-filter .text-input.text-input-block { display: block; width: 100%; }

.filter-controls.calendar-date-filter .text-input.text-input-sm { }

.filter-controls.calendar-date-filter .text-input.text-input-xs { }

.filter-controls.calendar-date-filter .text-input.text-input-success { border-color: rgb(43, 175, 95); outline-color: rgb(43, 175, 95); box-shadow: rgb(205, 243, 220) 0px 0px 10px inset; }

.filter-controls.calendar-date-filter .text-input.text-input-warning { border-color: rgb(230, 175, 0); outline-color: rgb(230, 175, 0); box-shadow: rgb(255, 243, 205) 0px 0px 10px inset; }

.filter-controls.calendar-date-filter .text-input.text-input-error { border-color: rgb(206, 101, 101); outline-color: rgb(206, 101, 101); background-color: rgb(253, 248, 248); box-shadow: rgb(249, 236, 236) 0px 0px 10px inset; }

.filter-controls.calendar-date-filter .block-label { display: block; margin-bottom: 0.2em; }

.filter-controls.calendar-date-filter .block-label.block-label-sm { color: rgb(132, 132, 132); margin-bottom: 0px; }

.filter-controls.calendar-date-filter .inline-label { display: inline; margin-right: 0.5em; }

.filter-controls.calendar-date-filter .text-area { min-width: 350px; }

.filter-controls.calendar-date-filter .checkbox.disabled { opacity: 0.5; cursor: not-allowed !important; }

.filter-controls.calendar-date-filter .checkbox.disabled * { cursor: not-allowed !important; }

.filter-controls.calendar-date-filter .checkbox input[type="checkbox"] { display: block; opacity: 0; }

.filter-controls.calendar-date-filter .checkbox label { display: inline-block; cursor: pointer; position: relative; user-select: none; }

.filter-controls.calendar-date-filter .checkbox .fake-checkbox { border: 1px solid rgb(226, 226, 226); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; line-height: 1; padding: 2px; overflow: hidden; }

.filter-controls.calendar-date-filter .checkbox input[type="checkbox"] + label .fake-checkbox span { display: none; }

.filter-controls.calendar-date-filter .checkbox input[type="checkbox"]:checked + label .fake-checkbox span { display: inline-block; vertical-align: text-top; padding-left: 1px; }

.filter-controls.calendar-date-filter .checkbox input[type="checkbox"]:focus + label > .fake-checkbox { outline: solid 2px; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"] { display: block; opacity: 0; }

.filter-controls.calendar-date-filter .radiobutton label { display: inline-block; cursor: pointer; position: relative; }

.filter-controls.calendar-date-filter .radiobutton label.disabled { cursor: not-allowed; opacity: 0.5; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"] + label .fake-radiobutton { box-sizing: border-box; border: 1px solid rgb(226, 226, 226); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"] + label.disabled .fake-radiobutton { cursor: not-allowed; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"]:checked + label .fake-radiobutton { box-sizing: border-box; display: inline-block; width: 19px; height: 19px; background-color: rgb(71, 71, 71); border: 5px solid rgb(200, 200, 200); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; vertical-align: text-bottom; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"]:checked + label.disabled .fake-radiobutton { cursor: not-allowed; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"]:focus + label > span.fake-radiobutton { outline: auto; }

.filter-controls.calendar-date-filter .radiobutton input[type="radio"][name="pendoStatus"]:focus + label > span.fake-radiobutton { outline: none; }

.filter-controls.calendar-date-filter .range-separator { margin: 0px 3px; }

.filter-controls.calendar-date-filter .text-input { font-size: 12px; padding-left: 31px; padding-right: 10px; width: 100%; }

@media (max-width: 420px) {
  .filter-controls.calendar-date-filter .text-input { font-size: 13px; margin-bottom: 0px; max-width: 200px; }
}

.filter-controls.calendar-date-filter .relative-date-container { display: inline; padding-top: 5px; margin-left: 0px; }

.filter-controls.calendar-date-filter .dropdown-container.dropdown-disabled .dropdown-placeholder { background: rgb(200, 200, 200); border-color: rgb(173, 173, 173); color: rgb(145, 145, 145); pointer-events: none; }

.filter-controls.calendar-date-filter .dropdown-container .dropdown-placeholder { padding: 5px; min-width: 120px; }

.filter-controls.calendar-date-filter .dropdown-container .socrata-icon-arrow-down { top: 6px; height: 16px; }

.filter-controls.calendar-date-filter .single-select-day-picker-container { margin: 10px 0px 0px; }

.filter-controls.calendar-date-filter .single-select-fiscal-year-label { display: flex; color: rgb(94, 94, 94); padding: 8px 16px 4px; }

.filter-controls.calendar-date-filter .picklist-options-container { font-size: 12px; max-height: 350px; overflow-y: auto; }

.filter-controls.calendar-date-filter .picklist-options-container .picklist { border: none; max-height: none; }

.filter-controls.calendar-date-filter forge-date-picker, .filter-controls.calendar-date-filter forge-date-range-picker { width: 263px; }

.filter-controls.calendar-date-filter forge-date-picker forge-icon, .filter-controls.calendar-date-filter forge-date-range-picker forge-icon { margin-top: 0px; margin-right: 0px; width: auto; height: auto; }

.filter-controls.calendar-date-filter forge-date-picker input, .filter-controls.calendar-date-filter forge-date-range-picker input { font-size: 16px; }

.filter-controls.calendar-date-filter .single-select-month-picker, .filter-controls.calendar-date-filter .range-filter-relative { display: flex; }

.filter-controls.calendar-date-filter .single-select-month-picker > div, .filter-controls.calendar-date-filter .range-filter-relative > div { flex: 1 1 auto; margin-right: 16px; }

.filter-controls.calendar-date-filter .single-select-month-picker > div:last-child, .filter-controls.calendar-date-filter .range-filter-relative > div:last-child { margin-right: 0px; }

.filter-controls.calendar-date-filter .single-select-month-picker .single-select-month-dropdown-month, .filter-controls.calendar-date-filter .range-filter-relative .single-select-month-dropdown-month { width: 190px; }

.filter-controls.calendar-date-filter .single-select-month-picker .single-select-month-dropdown-year, .filter-controls.calendar-date-filter .range-filter-relative .single-select-month-dropdown-year { width: 100px; }

.filter-controls.calendar-date-filter .radio-button-group forge-radio { display: block; margin-bottom: 16px; }

.filter-controls.calendar-date-filter .radio-button-group forge-radio:last-child { margin-bottom: 0px; }

.filter-controls.calendar-date-filter .radio-button-group .radio-next-to-content-container { display: flex; justify-content: flex-start; align-items: anchor-center; font-size: 14px; }

.filter-controls.calendar-date-filter .relative-period forge-select { width: 220px; }

.filter-controls.calendar-date-filter .relative-last-unit forge-select { width: 190px; }

.filter-controls.calendar-date-filter .relative-last-value { width: 80px; }

.filter-controls.calendar-date-filter .relative-last-value forge-text-field input { font-size: 16px; }

.filter-controls.calendar-date-filter .range-filter-date-to-today { margin-left: 40px; margin-right: 40px; margin-top: 16px; display: flex; align-items: center; font-size: 16px; }

.filter-controls.calendar-date-filter .range-filter-date-to-today > div { flex: 1 1 auto; margin-right: 8px; }

.filter-controls.calendar-date-filter .range-filter-date-to-today > div:last-child { margin-right: 0px; }

.filter-controls .range-filter-container { padding: 16px 8px; }

.filter-controls .range-filter-container input[type="text"]:disabled { background-color: inherit; }

body { --forge-z-index-popup: 3000; --forge-z-index-tooltip: 3001; }

@media (max-width: 420px) {
  .date-range-picker { display: unset; }
  .filter-bar-filter .calendar-date-filter .range-separator { margin: 0px 50px; line-height: 2; }
}

.filter-controls .filter-footer, .parameter-dropdown-options .filter-footer { background: transparent; display: flex; justify-content: space-between; align-items: center; padding: 4px 8px; }

.filter-controls .filter-footer .btn, .parameter-dropdown-options .filter-footer .btn { padding: 0px; font-size: 12px; }

.filter-controls .filter-footer .btn-transparent, .parameter-dropdown-options .filter-footer .btn-transparent { color: rgb(71, 71, 71); }

.filter-controls .filter-footer .btn-transparent .socrata-icon-close-2, .parameter-dropdown-options .filter-footer .btn-transparent .socrata-icon-close-2 { margin-right: 5px; }

.filter-controls .filter-footer .btn-transparent:hover, .filter-controls .filter-footer .btn-transparent:focus, .parameter-dropdown-options .filter-footer .btn-transparent:hover, .parameter-dropdown-options .filter-footer .btn-transparent:focus { text-decoration: underline; }

.filter-controls .filter-footer .remove-btn forge-icon, .parameter-dropdown-options .filter-footer .remove-btn forge-icon { --forge-icon-font-size: 18px; margin-top: 0px; margin-right: 8px; align-self: center; }

.filter-controls .filter-footer .apply-btn-container, .parameter-dropdown-options .filter-footer .apply-btn-container { display: inline-block; white-space: nowrap; }

.filter-controls .filter-footer .apply-btn-container .reset-btn, .parameter-dropdown-options .filter-footer .apply-btn-container .reset-btn { margin-right: 0px; }

.filter-controls .filter-footer .apply-btn-container .apply-btn, .parameter-dropdown-options .filter-footer .apply-btn-container .apply-btn { padding: 6px 12px; }

.filter-controls .filter-footer .apply-btn-container > forge-button, .parameter-dropdown-options .filter-footer .apply-btn-container > forge-button { margin-right: 7px; }

.filter-controls .filter-footer .apply-btn-container > forge-button:last-child, .parameter-dropdown-options .filter-footer .apply-btn-container > forge-button:last-child { margin-right: 0px; }

.dropdown { display: inline-block; position: relative; }

.dropdown > span[class*="socrata-icon-"] { }

.dropdown .dropdown-options { position: absolute; left: 0px; right: inherit; min-width: 8em; background: rgb(255, 255, 255); border-radius: 1px; list-style: none; padding: 0px; box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 15px; opacity: 0; pointer-events: none; }

.dropdown.dropdown-orientation-top .dropdown-options { bottom: 100%; }

.dropdown.dropdown-orientation-bottom .dropdown-options { top: 100%; }

.dropdown .dropdown-options li a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; text-decoration: none; text-align: left; color: rgb(94, 94, 94); }

.dropdown .dropdown-options li a > span[class*="socrata-icon-"] { }

.dropdown .dropdown-options li:hover a { background: rgb(241, 241, 241); }

.dropdown.active .dropdown-options { opacity: 1; pointer-events: auto; margin: 1px 0px; z-index: 1; }

.filter-controls.number-filter { }

.filter-controls.number-filter .text-input { border: 1px solid rgb(200, 200, 200); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; font-family: var(--default-font-stack); line-height: normal; }

.filter-controls.number-filter .text-input:disabled { border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.filter-controls.number-filter .text-input:focus { outline: -webkit-focus-ring-color auto 5px; }

.filter-controls.number-filter .text-input.text-input-lg { }

.filter-controls.number-filter .text-input.text-input-block { display: block; width: 100%; }

.filter-controls.number-filter .text-input.text-input-sm { }

.filter-controls.number-filter .text-input.text-input-xs { }

.filter-controls.number-filter .text-input.text-input-success { border-color: rgb(43, 175, 95); outline-color: rgb(43, 175, 95); box-shadow: rgb(205, 243, 220) 0px 0px 10px inset; }

.filter-controls.number-filter .text-input.text-input-warning { border-color: rgb(230, 175, 0); outline-color: rgb(230, 175, 0); box-shadow: rgb(255, 243, 205) 0px 0px 10px inset; }

.filter-controls.number-filter .text-input.text-input-error { border-color: rgb(206, 101, 101); outline-color: rgb(206, 101, 101); background-color: rgb(253, 248, 248); box-shadow: rgb(249, 236, 236) 0px 0px 10px inset; }

.filter-controls.number-filter .block-label { display: block; margin-bottom: 0.2em; }

.filter-controls.number-filter .block-label.block-label-sm { color: rgb(132, 132, 132); margin-bottom: 0px; }

.filter-controls.number-filter .inline-label { display: inline; margin-right: 0.5em; }

.filter-controls.number-filter .text-area { min-width: 350px; }

.filter-controls.number-filter .checkbox.disabled { opacity: 0.5; cursor: not-allowed !important; }

.filter-controls.number-filter .checkbox.disabled * { cursor: not-allowed !important; }

.filter-controls.number-filter .checkbox input[type="checkbox"] { display: block; opacity: 0; }

.filter-controls.number-filter .checkbox label { display: inline-block; cursor: pointer; position: relative; user-select: none; }

.filter-controls.number-filter .checkbox .fake-checkbox { border: 1px solid rgb(226, 226, 226); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; line-height: 1; padding: 2px; overflow: hidden; }

.filter-controls.number-filter .checkbox input[type="checkbox"] + label .fake-checkbox span { display: none; }

.filter-controls.number-filter .checkbox input[type="checkbox"]:checked + label .fake-checkbox span { display: inline-block; vertical-align: text-top; padding-left: 1px; }

.filter-controls.number-filter .checkbox input[type="checkbox"]:focus + label > .fake-checkbox { outline: solid 2px; }

.filter-controls.number-filter .radiobutton input[type="radio"] { display: block; opacity: 0; }

.filter-controls.number-filter .radiobutton label { display: inline-block; cursor: pointer; position: relative; }

.filter-controls.number-filter .radiobutton label.disabled { cursor: not-allowed; opacity: 0.5; }

.filter-controls.number-filter .radiobutton input[type="radio"] + label .fake-radiobutton { box-sizing: border-box; border: 1px solid rgb(226, 226, 226); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; }

.filter-controls.number-filter .radiobutton input[type="radio"] + label.disabled .fake-radiobutton { cursor: not-allowed; }

.filter-controls.number-filter .radiobutton input[type="radio"]:checked + label .fake-radiobutton { box-sizing: border-box; display: inline-block; width: 19px; height: 19px; background-color: rgb(71, 71, 71); border: 5px solid rgb(200, 200, 200); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; vertical-align: text-bottom; }

.filter-controls.number-filter .radiobutton input[type="radio"]:checked + label.disabled .fake-radiobutton { cursor: not-allowed; }

.filter-controls.number-filter .radiobutton input[type="radio"]:focus + label > span.fake-radiobutton { outline: auto; }

.filter-controls.number-filter .radiobutton input[type="radio"][name="pendoStatus"]:focus + label > span.fake-radiobutton { outline: none; }

.filter-controls.number-filter .range-input { width: 45%; }

@media (max-width: 420px) {
  .filter-controls.number-filter .range-input { font-size: 16px; }
}

.filter-controls.number-filter .dropdown-container { width: 80%; }

.filter-controls.number-filter forge-text-field { padding-top: 16px; }

.filter-controls.number-filter forge-checkbox { padding-top: 8px; }

.filter-controls.radius-filter { width: 350px; }

.filter-controls.radius-filter .radius-filter-container { padding: 15px; }

.filter-controls.radius-filter .radius-filter-container .autocomplete-input { font-size: 12px; padding: 10px; height: 35px; }

.filter-controls.radius-filter .radius-filter-container .autocomplete-results-container div { font-size: 12px; }

.filter-controls.radius-filter .radius-filter-container .socrata-icon.socrata-icon-search { width: 15px; margin-top: 1px; }

.filter-controls.radius-filter .radius-filter-container .radius-input-field-container { margin-top: 20px; }

.filter-controls.radius-filter .radius-filter-container .input_range .input_range__label--min .input_range__label-container, .filter-controls.radius-filter .radius-filter-container .input_range .input_range__label--max .input_range__label-container { left: 0%; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider { margin: 30px 0px 0px; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider .input-range { height: 12px; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider .input-range__track { height: 0.2rem; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider .input-range__slider { width: 7px; margin-left: -7px; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider .input-range__label { font-size: 10px; }

.filter-controls.radius-filter .radius-filter-container .input-range-slider .input-range__label-container { left: -85%; }

.filter-controls.radius-filter .filter-footer { padding-bottom: 9px; padding-top: 9px; }

.filter-controls.radius-filter .filter-footer .apply-btn-container .reset-btn { margin-right: 5px; }

.searchable-picklist { font-size: 12px; }

.searchable-picklist .text-input { border: 1px solid rgb(200, 200, 200); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; font-family: var(--default-font-stack); line-height: normal; }

.searchable-picklist .text-input:disabled { border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.searchable-picklist .text-input:focus { outline: -webkit-focus-ring-color auto 5px; }

.searchable-picklist .text-input.text-input-lg { }

.searchable-picklist .text-input.text-input-block { display: block; width: 100%; }

.searchable-picklist .text-input.text-input-sm { }

.searchable-picklist .text-input.text-input-xs { }

.searchable-picklist .text-input.text-input-success { border-color: rgb(43, 175, 95); outline-color: rgb(43, 175, 95); box-shadow: rgb(205, 243, 220) 0px 0px 10px inset; }

.searchable-picklist .text-input.text-input-warning { border-color: rgb(230, 175, 0); outline-color: rgb(230, 175, 0); box-shadow: rgb(255, 243, 205) 0px 0px 10px inset; }

.searchable-picklist .text-input.text-input-error { border-color: rgb(206, 101, 101); outline-color: rgb(206, 101, 101); background-color: rgb(253, 248, 248); box-shadow: rgb(249, 236, 236) 0px 0px 10px inset; }

.searchable-picklist .block-label { display: block; margin-bottom: 0.2em; }

.searchable-picklist .block-label.block-label-sm { color: rgb(132, 132, 132); margin-bottom: 0px; }

.searchable-picklist .inline-label { display: inline; margin-right: 0.5em; }

.searchable-picklist .text-area { min-width: 350px; }

.searchable-picklist .checkbox.disabled { opacity: 0.5; cursor: not-allowed !important; }

.searchable-picklist .checkbox.disabled * { cursor: not-allowed !important; }

.searchable-picklist .checkbox input[type="checkbox"] { display: block; opacity: 0; }

.searchable-picklist .checkbox label { display: inline-block; cursor: pointer; position: relative; user-select: none; }

.searchable-picklist .checkbox .fake-checkbox { border: 1px solid rgb(226, 226, 226); border-radius: 1px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; line-height: 1; padding: 2px; overflow: hidden; }

.searchable-picklist .checkbox input[type="checkbox"] + label .fake-checkbox span { display: none; }

.searchable-picklist .checkbox input[type="checkbox"]:checked + label .fake-checkbox span { display: inline-block; vertical-align: text-top; padding-left: 1px; }

.searchable-picklist .checkbox input[type="checkbox"]:focus + label > .fake-checkbox { outline: solid 2px; }

.searchable-picklist .radiobutton input[type="radio"] { display: block; opacity: 0; }

.searchable-picklist .radiobutton label { display: inline-block; cursor: pointer; position: relative; }

.searchable-picklist .radiobutton label.disabled { cursor: not-allowed; opacity: 0.5; }

.searchable-picklist .radiobutton input[type="radio"] + label .fake-radiobutton { box-sizing: border-box; border: 1px solid rgb(226, 226, 226); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; display: inline-block; width: 19px; height: 19px; cursor: pointer; vertical-align: text-bottom; }

.searchable-picklist .radiobutton input[type="radio"] + label.disabled .fake-radiobutton { cursor: not-allowed; }

.searchable-picklist .radiobutton input[type="radio"]:checked + label .fake-radiobutton { box-sizing: border-box; display: inline-block; width: 19px; height: 19px; background-color: rgb(71, 71, 71); border: 5px solid rgb(200, 200, 200); border-radius: 10px; box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px inset; vertical-align: text-bottom; }

.searchable-picklist .radiobutton input[type="radio"]:checked + label.disabled .fake-radiobutton { cursor: not-allowed; }

.searchable-picklist .radiobutton input[type="radio"]:focus + label > span.fake-radiobutton { outline: auto; }

.searchable-picklist .radiobutton input[type="radio"][name="pendoStatus"]:focus + label > span.fake-radiobutton { outline: none; }

.searchable-picklist .searchable-picklist-input-container { position: relative; margin: 8px; }

.searchable-picklist .searchable-picklist-input-container form { margin: 0px; }

.searchable-picklist .searchable-picklist-input-container .searchable-picklist-input { width: 100%; height: 31px; border: 1px solid rgb(200, 200, 200); padding: 8px 28px; }

@media (max-width: 420px) {
  .searchable-picklist .searchable-picklist-input-container .searchable-picklist-input { font-size: 16px; }
}

.searchable-picklist .searchable-picklist-input-container .searchable-picklist-input:focus { border-color: rgb(230, 249, 245); outline: rgb(0, 190, 155) solid 2px; }

.searchable-picklist .searchable-picklist-input-container .searchable-picklist-input:disabled { color: rgb(145, 145, 145); background-color: rgb(246, 246, 246); }

.searchable-picklist .searchable-picklist-input-container .spinner-default { position: absolute; right: 7px; top: 8px; animation-duration: 0.5s; border-width: 1px; border-color: rgb(0, 190, 155) rgb(230, 249, 245) rgb(0, 190, 155) rgb(0, 190, 155); }

.searchable-picklist .searchable-picklist-input-container .btn { height: 31px; width: 31px; }

.searchable-picklist .searchable-picklist-input-container .btn.btn-highlighted { background-color: rgb(0, 161, 175); border-color: rgb(0, 190, 155); }

.searchable-picklist .searchable-picklist-input-container .socrata-icon-search { position: absolute; width: 18px; height: 18px; top: 7px; left: 7px; color: rgb(228, 228, 228); }

.searchable-picklist .searchable-picklist-options { max-height: 350px; overflow-y: auto; }

.searchable-picklist .searchable-picklist-options .picklist { border: none; }

.searchable-picklist .searchable-picklist-options .picklist .picklist-group-header { border-left: 3px solid transparent; }

.searchable-picklist .searchable-picklist-options .picklist:focus { border: none; outline: none; }

.searchable-picklist .searchable-picklist-options .picklist:focus .picklist-group-header { border-left: 3px solid rgb(0, 190, 155); }

.searchable-picklist .searchable-picklist-selected-option { display: flex; width: 100%; }

.searchable-picklist .searchable-picklist-selected-option > * { margin: auto; }

.searchable-picklist .searchable-picklist-selected-option .socrata-icon { width: 12px; height: 12px; color: rgb(228, 228, 228); }

.searchable-picklist .searchable-picklist-selected-option .socrata-icon-close-2 { color: rgb(145, 145, 145); }

.searchable-picklist .searchable-picklist-selected-option .searchable-picklist-selected-option-title { flex-grow: 2; margin-left: 8px; padding-right: 8px; overflow: hidden; text-overflow: ellipsis; }

.searchable-picklist .picklist-option { cursor: pointer; padding: 8px; }

.searchable-picklist div.alert { background-color: rgb(234, 244, 249); border: none; color: rgb(28, 99, 135); font-size: 12px; margin: 0px; padding: 12px; }

.filter-controls.text-filter { padding-top: 8px; }

.filter-controls.text-filter .filter-control-title { display: flex; margin: 0px 8px; }

.filter-controls.text-filter .filter-control-title h3 { display: inline-block; margin: 3px 5px 3px 2px; font-size: 12px; font-weight: normal; letter-spacing: 0px; vertical-align: text-bottom; overflow-wrap: break-word; text-overflow: ellipsis; max-width: 100%; line-height: 14px; }

.filter-controls.text-filter .filter-control-title .filter-operator-dropdown { width: 150px; }

.filter-controls.text-filter .loading-spinner-container { text-align: center; height: 25px; }

.filter-controls.text-filter .suggestions-autocomplete-container { margin: 10px; }

.filter-controls.text-filter .suggestions-autocomplete-container .autocomplete-input { height: 31px; font-size: 12px; }

.filter-controls.text-filter .suggestions-autocomplete-container .socrata-icon-search { height: 16px; width: 16px; margin-top: 1px; }

.filter-controls.text-filter .suggestions-autocomplete-container .autocomplete-results-container div { font-size: 12px; text-overflow: ellipsis; white-space: nowrap; font-weight: 400; padding-top: 10px; padding-bottom: 20px; }

.filter-controls.text-filter .suggestions-autocomplete-container .autocomplete-results-container { height: 250px; overflow: auto; }

.filter-controls.text-filter .picklist-options-container { font-size: 12px; max-height: 250px; overflow-y: auto; }

.filter-controls.text-filter .picklist-options-container .picklist { border: none; max-height: none; }

.filter-controls.text-filter .picklist-options-container .picklist .picklist-group-header { border-left: 3px solid transparent; padding: 6px 10px; }

.filter-controls.text-filter .picklist-options-container .picklist:focus { border: none; outline: none; }

.filter-controls.text-filter .picklist-options-container .picklist:focus .picklist-group-header { border-left: 3px solid rgb(0, 190, 155); }

.filter-controls.text-filter .picklist-options-container .picklist-selected-option { display: flex; width: 100%; }

.filter-controls.text-filter .picklist-options-container .picklist-selected-option > * { margin: auto; }

.filter-controls.text-filter .picklist-options-container .picklist-selected-option .socrata-icon { width: 12px; height: 12px; color: rgb(228, 228, 228); }

.filter-controls.text-filter .picklist-options-container .picklist-selected-option .socrata-icon-close-2 { color: rgb(145, 145, 145); }

.filter-controls.text-filter .picklist-options-container .picklist-selected-option .picklist-selected-option-title { flex-grow: 2; margin-left: 8px; padding-right: 8px; overflow: hidden; text-overflow: ellipsis; }

.filter-controls.text-filter .picklist-option { cursor: pointer; padding: 8px; }

.filter-controls.text-filter .picklist-suggestion-option { min-height: 20px; }

.reset-filters { margin-bottom: 5px; display: inline-block; margin-right: 2px; vertical-align: top; }

.reset-filters .btn-reset-filters { font-size: 12px; padding: 7px 0px; color: var(--forge-theme-primary); }

.reset-filters .btn-reset-filters:disabled { color: rgb(118, 118, 118); }

.filter-bar-container { font-size: 12px; background: rgb(248, 248, 248); padding: 6px 20px; position: relative; }

.filter-bar-container .hidden { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.filter-bar-container .filter-icon { display: inline-block; margin-top: 18px; vertical-align: top; }

.filter-bar-container .filter-icon forge-icon { --forge-icon-font-size: 20px; margin-right: 10px; margin-top: 5px; }

.filter-bar-container .filters-controls-right-side, .filter-bar-container .filters-controls-left-side { display: inline-block; }

.filter-bar-container .filters-controls-right-side .add-filter-spacer, .filter-bar-container .filters-controls-right-side .reset-filter-spacer, .filter-bar-container .filters-controls-left-side .add-filter-spacer, .filter-bar-container .filters-controls-left-side .reset-filter-spacer { display: block; }

.filter-bar-container .visibile-filters-and-expand-control { display: inline-block; }

.filter-bar-container .filters-controls-left-side { vertical-align: top; }

.filter-bar-container .filters-controls-left-side .filter-bar-filter-count { font-size: 15px; }

.filter-bar-container .btn-expand-control { position: absolute; bottom: 0px; right: 0px; font-size: 12px; color: var(--forge-theme-primary); padding: 0px; margin-top: 6px; }

.filter-bar-container .btn-expand-control.is-hidden { visibility: hidden; }

.filter-bar-container .btn-expand-control:hover, .filter-bar-container .btn-expand-control:focus { text-decoration: none; }

.filter-bar-container .visible-filters-container { display: inline-block; vertical-align: top; }

.filter-bar-container .collapsed-filters-container { width: 100%; margin-left: -20px; margin-top: 6px; padding: 2px 20px 0px; background: rgb(248, 248, 248); display: none; }

.filter-bar-container .collapsed-filters-container .filter-bar-filter { margin-bottom: 10px; }

.filter-bar-container .collapsed-filters-container .filter-bar-filter .column-stat-spinner { height: 10px; width: 10px; margin-left: 4px; }

.filter-bar-container .visible-filters-container .filters-enter .filter-control-toggle, .filter-bar-container .visible-filters-container .filters-enter .filter-config-toggle, .filter-bar-container .collapsed-filters-container .filters-enter .filter-control-toggle, .filter-bar-container .collapsed-filters-container .filters-enter .filter-config-toggle { background-color: rgb(230, 249, 245); }

.filter-bar-container .visible-filters-container .filters-enter.filters-enter-active .filter-control-toggle, .filter-bar-container .visible-filters-container .filters-enter.filters-enter-active .filter-config-toggle, .filter-bar-container .collapsed-filters-container .filters-enter.filters-enter-active .filter-control-toggle, .filter-bar-container .collapsed-filters-container .filters-enter.filters-enter-active .filter-config-toggle { background-color: rgb(255, 255, 255); transition: background-color 1s ease-out; }

.filter-bar-container.filter-bar-expanded .collapsed-filters-container { display: inline-block; }

.filter-bar-container .filter-bar-column-option { font-size: 12px; display: block; }

.filter-bar-container .filter-bar-column-option.region-option .disclosure-icon { float: right; margin: auto auto auto 8px; position: relative; top: 2px; }

.filter-bar-container .filter-bar-column-option .socrata-icon { margin: auto 8px auto auto; position: relative; top: -2px; }

.filter-bar-container .searchable-picklist-option { overflow: hidden; text-overflow: ellipsis; }

.vertical-filter-bar { position: relative; float: right; height: 100%; }

.vertical-filter-bar .filter-bar-btn { background-color: rgb(247, 247, 247); border-color: rgb(204, 204, 204); height: 48px; width: 256px; z-index: 100; }

.vertical-filter-bar .filter-bar-btn .filter-bar-close-icon { display: none; }

.vertical-filter-bar .vertical-filter-wrapper { border-right: 1px solid rgb(204, 204, 204); display: none; height: calc(100% - 48px); position: absolute; right: 0px; width: 640px; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container { border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-image: initial; padding: 0px 20px 24px; min-height: 100%; position: relative; width: 256px; left: 384px; pointer-events: visible; z-index: 8; border-top: 0px !important; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filters-controls-left-side { float: right; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-bar-filter-count { display: none; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .reset-filter-spacer, .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .add-filter-spacer { display: none; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .reset-filter-container { float: right; }

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-bar-filter .filter-control-container { position: relative; }
}

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-bar-filter .column-stat-spinner { height: 10px; width: 10px; margin-left: 4px; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .column-container { right: 143px; z-index: 201; }

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .column-container { right: 0px; min-width: 250px; }
}

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .text-filter .column-container { min-width: 150px; }
}

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .collapsed-filters-container { margin-left: 0px; padding: 0px; width: auto; z-index: 200; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-controls { right: 0px; left: auto; }

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-controls { margin-top: 0px; width: 100%; max-width: 150px; }
}

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-controls.number-filter .dropdown-container { width: 98%; }
}

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-icon { display: none; }

.vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-bar-column-option span:not([class]) { max-width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media (max-width: 420px) {
  .vertical-filter-bar .vertical-filter-wrapper .filter-bar-container .filter-bar-column-option span:not([class]) { right: 0px; max-width: 200px; }
}

.vertical-filter-bar .vertical-filter-wrapper .add-filter-menus-inner-container { right: 0px; }

.vertical-filter-bar .filter-bar-filter { margin: 0px; }

.vertical-filter-bar .filter-bar-filter .filter-control-container .filter-control-toggle { max-width: 190px; width: 190px; }

.vertical-filter-bar .filter-bar-read-only .filter-bar-filter .filter-control-container .filter-control-toggle { max-width: 215px; width: 215px; }

.vertical-filter-bar.filter-bar-expanded .vertical-filter-wrapper { display: block; overflow: hidden auto; }

.vertical-filter-bar.filter-bar-expanded .filter-bar-close-icon { display: block; }

.vertical-filter-bar.filter-bar-expanded .filter-bar-arrow-icon { display: none; }

.vertical-filter-bar .btn-content { display: flex; justify-content: space-between; }

.vertical-filter-bar .btn-content .filter-bar-menu-container { display: flex; align-items: center; }

.vertical-filter-bar .btn-content .filter-bar-menu-container .filter-bar-title { padding-top: 4px; padding-left: 4px; }

.vertical-filter-bar.filter-bar-expanded .btn-wrapper .filter-bar-btn { border-bottom-color: rgb(247, 247, 247); }