@charset "utf-8";

.cs-cityscape-resource-tile { font-family: "Open Sans", open-sans, sans-serif; text-align: center; padding: 0px 40px; list-style: none; margin-top: 15px; }

.cs-cityscape-resource-tile a { text-decoration: none; }

.cs-cityscape-resource-tile a .cs-tile-content-wrapper .cs-tile-icon { font-size: 50px; display: block; margin-bottom: 5px; color: rgb(255, 255, 255); }

.cs-cityscape-resource-tile a .cs-tile-content-wrapper img { height: 60px; margin-bottom: 10px; }

.cs-cityscape-resource-tile a .cs-tile-content-wrapper .cs-tile-title { font-size: 25px; font-weight: normal; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); }

.cs-cityscape-resource-tile a .cs-tile-content-wrapper .cs-tile-description { font-size: 16px; line-height: 1.6; font-weight: 100; color: rgb(255, 255, 255); text-align: left; }

.cs-cityscape-resource-tile a:hover .cs-tile-title, .cs-cityscape-resource-tile a:focus .cs-tile-title { text-decoration: underline; }

.cs-cityscape-resource-tile a:hover .cs-tile-icon, .cs-cityscape-resource-tile a:focus .cs-tile-icon { color: rgb(255, 255, 255); }