@charset "utf-8";

.cs-autosuggest-search-container { position: relative; display: flex; justify-content: center; }

.cs-autosuggest-search-container .cs-search-form { display: flex; justify-content: flex-start; align-items: center; width: 100%; }

.cs-autosuggest-search-container .cs-search-form.large { line-height: 4.74183em; font-size: 1.29616em; height: 4.74183em; }

.cs-autosuggest-search-container .cs-search-form.medium { line-height: 3.42866em; font-size: 1.13849em; height: 3.42866em; }

.cs-autosuggest-search-container .cs-search-form.small { line-height: 2.47914em; font-size: 1em; height: 2.47914em; }

.cs-autosuggest-search-container .suggestions__empty { font-size: 1em; }

.cs-autosuggest-search-container .autosuggest-search-icon { position: absolute; margin: 0px 0.75em; color: gray; }

.cs-autosuggest-search-container .react-autosuggest__container { height: 100%; flex-grow: 1; }

.cs-autosuggest-search-container .react-autosuggest__container .react-autosuggest__input { height: 100%; }

.cs-autosuggest-search-container .react-autosuggest__input { color: rgb(0, 0, 0); position: relative; display: block; width: 100%; padding: 0.2em 0.7em 0.2em 2.25em; font-size: 1em; font-weight: 300; line-height: 2em; background-color: transparent; box-shadow: rgb(228, 228, 228) 0px 0px 0.33em inset; box-sizing: border-box; border: none; outline: none; transition: box-shadow 0.2s; appearance: none; z-index: 1; }

.cs-autosuggest-search-container .react-autosuggest__input::placeholder { color: rgb(173, 173, 173); opacity: 1; }

.cs-autosuggest-search-container .react-autosuggest__input:hover { box-shadow: rgb(173, 173, 173) 0px 0px 0.33em inset; }

.cs-autosuggest-search-container .react-autosuggest__input:focus { box-shadow: orange 0px 0px 0.33em inset; }

@-webkit-keyframes slide-open { 
  0% { max-height: 0px; }
  100% { max-height: 340px; }
}

@keyframes slide-open { 
  0% { max-height: 0px; }
  100% { max-height: 340px; }
}

.cs-autosuggest-search-container .react-autosuggest__suggestions-container { display: none; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open { display: block; position: absolute; top: 100%; left: 0px; width: 100%; max-height: 0px; overflow-y: scroll; z-index: 9999; background: rgb(255, 255, 255); box-sizing: border-box; border-left: 1px solid rgb(228, 228, 228); border-right: 1px solid rgb(228, 228, 228); border-bottom: 1px solid rgb(228, 228, 228); animation: 0.1s ease-out 0s 1 normal forwards running slide-open; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open ul { list-style: none; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open ul:hover { cursor: pointer; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li { border-bottom: 1px dotted rgb(228, 228, 228); padding: 15px 10px; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .cs-autosuggest__item .cs-autosuggest__item-top { display: flex; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .cs-autosuggest__item .cs-autosuggest__item-top .cs-autosuggest__item-title { flex: 17 1 0%; color: rgb(28, 28, 28); margin: 0px; padding-bottom: 5px; line-height: 1.5em; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .cs-autosuggest__item .cs-autosuggest__item-top .fourbyfour { color: rgb(153, 153, 153); flex: 3 1 0%; text-align: right; position: relative; line-height: 2.2; font-size: 0.8rem; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .title { font-size: 18px; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .subtitle { font-size: 12px; color: rgb(173, 173, 173); }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .highlight { font-weight: 700; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .details { display: flex; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .details .description { max-height: inherit; text-overflow: ellipsis; color: rgb(85, 85, 85); flex: 17 1 0%; line-height: 1.5em; font-size: 0.8rem; }

.cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .details .fourbyfour { color: rgb(153, 153, 153); flex: 3 1 0%; text-align: right; line-height: 1.5em; font-size: 0.8rem; }

.cs-autosuggest-search-container .react-autosuggest__suggestion--highlighted { background: rgb(253, 237, 204); }

.cs-home-banner-wrapper { position: relative; width: 100%; }

.cs-home-banner-wrapper .cs-autosuggest-search-container { margin: 0px auto; }

@media only screen and (max-width: 768px) {
  .cs-home-banner-wrapper .cs-autosuggest-search-container { width: 95%; }
}

.cs-home-banner-wrapper .cs-autosuggest-search-container .react-autosuggest__input { background: rgb(255, 255, 255); box-shadow: rgba(60, 60, 60, 0.45) 0px 1px 35px 0px; }

.cs-home-banner-wrapper .cs-autosuggest-search-container .autosuggest-search-icon { z-index: 2; }

.cs-home-banner-wrapper .cs-search-container { top: 10%; position: relative; }

.cs-carousel { position: relative; width: 100%; }

.cs-carousel .cs-home-banner-wrapper .cs-banner-text { margin-bottom: 150px; }

.cs-carousel .cs-autosuggest__wrapper--full-width { bottom: 23%; position: absolute; width: 100%; }

.cs-carousel .cs-autosuggest-search-container { margin: 0px auto; }

@media only screen and (max-width: 768px) {
  .cs-carousel .cs-autosuggest-search-container { width: 95%; }
}

.cs-carousel .cs-autosuggest-search-container .react-autosuggest__input { background: rgb(255, 255, 255); box-shadow: rgba(60, 60, 60, 0.45) 0px 1px 35px 0px; }

.cs-carousel .cs-autosuggest-search-container .autosuggest-search-icon { z-index: 2; }

.rounded .react-autosuggest__input { border-radius: 2em; }

.half-rounded .react-autosuggest__input { border-top-left-radius: 20px; border-top-right-radius: 20px; }

@media only screen and (max-width: 768px) {
  .cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .details .description { flex: 15 1 0%; }
  .cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .details .fourbyfour { flex: 5 1 0%; }
  .cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .cs-autosuggest__item .cs-autosuggest__item-top .cs-autosuggest__item-title { flex: 15 1 0%; }
  .cs-autosuggest-search-container .react-autosuggest__suggestions-container--open li .cs-autosuggest__item .cs-autosuggest__item-top .fourbyfour { flex: 5 1 0%; }
}