@charset "utf-8";

@media screen and (max-width: 670px) {
  .create-assets-dialog { --forge-card-padding: 1rem; width: 100vw; }
  .create-assets-dialog .forge-typography--label1, .create-assets-dialog .forge-typography--subheading5, .create-assets-dialog .forge-typography--heading2 { color: var(--forge-theme-text-high); }
  .create-assets-dialog .create-assets-cards { flex-direction: column; }
  .create-assets-dialog .create-assets-cards forge-card { width: calc(100% - 20px) !important; }
  .create-assets-dialog .close-button { display: none; }
}