@charset "utf-8";

.socrata-accordion-pane-content.legacy { padding: 10px; display: none; background: rgb(248, 248, 248); border-bottom: 1px solid rgb(238, 238, 238); border-left: 6px solid rgb(228, 228, 228); }

.socrata-accordion-pane.open > .socrata-accordion-pane-content { display: block; }

.socrata-accordion-pane-title { user-select: none; position: relative; cursor: pointer; line-height: 48px; height: 48px; padding-left: calc(16px); border-bottom: 1px solid rgb(228, 228, 228); border-left: 6px solid rgb(228, 228, 228); color: rgb(94, 94, 94); transition: color 0.15s ease-in-out, background 0.15s ease-in-out, border-left-color 0.15s ease-in-out; }

.socrata-accordion-pane-title .dropdown-caret { transition: transform 0.15s ease-in-out; }

.socrata-accordion-pane-title:hover, .socrata-accordion-pane-title:focus { outline: rgb(40, 141, 193) solid 2px; }

.socrata-accordion-pane-title span { display: block; }

.socrata-accordion-pane.open > .socrata-accordion-pane-title { color: rgb(28, 99, 135); background: rgb(255, 255, 255); border-left-color: rgb(40, 141, 193); }

.socrata-accordion-pane.open > .socrata-accordion-pane-title .dropdown-caret { color: rgb(28, 99, 135); transform: rotate(180deg); }

.socrata-accordion-pane-title > .dropdown-caret.clickable { pointer-events: auto; top: 15px; }