@charset "utf-8";

.agGrid-no-rows-overlay-text .forge-typography--body1 { color: var(--neutral-black-87, rgba(0, 0, 0, 0.87)); }

.agGrid-no-rows-overlay-text .forge-typography--subheading4 { padding-bottom: 16px; font-weight: var(--mdc-typography-headline5-font-weight, 400); color: var(--neutral-black-54, rgba(0, 0, 0, 0.5)); padding-left: 5px; padding-right: 5px; }

.agGrid-no-rows-overlay-icon { display: inline-block; width: 23.25%; max-width: 243px; min-width: 190px; }

@container (max-height: 290px) {
  .agGrid-no-rows-overlay-icon, .ag-paging-panel { display: none; }
}

@container (max-height: 310px) {
  .ag-overlay-wrapper { background-color: rgb(255, 255, 255); }
}