@charset "utf-8";

.alert-setting-modal { color: rgb(105, 106, 106); text-align: left; }

.alert-setting-modal .modal-header h5.modal-header-title { font-size: 20px; font-weight: normal; }

.alert-setting-modal .alert-setting-modal-content { max-height: calc(-190px + 100vh) !important; }

.alert-setting-modal .alert-setting-modal-content .user-preferences-error-message-wrapper div { padding: 20px; text-align: center; }

.alert-setting-modal .alert-setting-modal-content .user-preferences-loading-wrapper { min-height: 110px; position: relative; }

.alert-setting-modal .cancel-button, .alert-setting-modal .save-button { display: inline-block; font-size: 12px; margin-left: 5px; padding: 5px 10px; text-align: center; width: 70px; }

.alert-setting-modal .button-groups { margin-left: 12px; padding-top: 0px; margin-top: -4px !important; }

.alert-setting-modal .button-groups::after { content: ""; clear: both; display: table; }

.alert-setting-modal .button-groups button { background-color: rgb(255, 255, 255); border: 1px solid rgb(200, 200, 200); border-radius: 0px; color: rgb(105, 106, 106); padding: 7px 3px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px inset, rgba(255, 255, 255, 0.1) 0px 1px; cursor: pointer; float: left; font-size: 12px; }

.alert-setting-modal .button-groups button:not(:last-child) { border-right: none; }

.alert-setting-modal .button-groups button:hover { background-color: rgb(40, 141, 193); color: rgb(255, 255, 255); }

.alert-setting-modal .button-groups button.selected { background-color: rgb(40, 141, 193); color: rgb(255, 255, 255); }

.alert-setting-modal .settings-table thead tr th { font-size: 14px; font-weight: bold; }

.alert-setting-modal .settings-table thead tr th.column-name { text-align: left; }

.alert-setting-modal .settings-table .option-column { width: 54%; }