@charset "utf-8";

:root { --default-font-stack: "Roboto", "Helvetica", Arial, sans-serif; }

.removable > .mouseover-wrapper > :nth-last-child(2) { }

.showSuccess > .mouseover-wrapper > :nth-last-child(3) { }

.mouseover-wrapper { display: flex; align-items: center; flex-wrap: wrap; }

.mouseover-wrapper.wrap-removeable { flex-wrap: unset; justify-content: space-between; width: 100%; }

.mouseover-wrapper.grey-hover { background-color: rgb(241, 241, 241); border-radius: 5px; }

.mouseover-wrapper.red-hover { background-color: rgb(250, 240, 240); outline-style: solid; outline-width: 1px; border-radius: 5px; outline-color: var(--forge-theme-error); }

.positioning-div { display: flex; align-items: center; flex-wrap: wrap; }

.positioning-div + .remove-node { align-self: end; }

#explore-grid-app .searchable-picklist { z-index: 11; }

#explore-grid-app .badge { display: inline-block; padding: 6px; border-radius: 3px; color: rgb(255, 255, 255); font-weight: 900; text-shadow: rgb(106, 106, 106) 1px 1px; background-color: rgb(200, 200, 200); }

#explore-grid-app .multi-select-visual-node { width: 460px; }

#explore-grid-app .regular-funcall-badge, #explore-grid-app .operator-badge { background-color: rgb(0, 190, 155); }

#explore-grid-app .operator-badge-and { background-color: rgb(226, 132, 50); }

#explore-grid-app .operator-badge-or { background-color: rgb(0, 161, 175); }

#explore-grid-app .vee-dropdown-icon { margin-left: 0.5rem; }

#explore-grid-app .compiler-error .error-type { color: rgb(177, 87, 87); border-bottom: 1px solid rgb(228, 228, 228); }

#explore-grid-app .compiler-error .error-type, #explore-grid-app .compiler-error .error-details { padding: 8px; }

#explore-grid-app .compiler-error .error-details { color: rgb(94, 94, 94); }

#explore-grid-app .compiler-error .badge { margin: 0px 4px; }

#explore-grid-app .compilation-failure { padding: 8px; position: relative; display: inline-block; }

#explore-grid-app .compilation-failure .socrata-icon-warning { color: rgb(206, 101, 101); cursor: pointer; }

#explore-grid-app .compilation-failure .flyout { position: absolute; margin-left: 8px; margin-top: 16px; max-width: 500px; min-width: 250px; }

#explore-grid-app .add-expr-container { display: flex; align-items: center; }

#explore-grid-app .add-expr .column-picker-container { position: relative; display: flex; align-items: center; }

#explore-grid-app .add-expr .column-picker-container .expr .changeable-node { padding: 0px; }

#explore-grid-app .add-expr .add-expr-btn-container { margin-top: 8px; display: flex; align-items: center; }

#explore-grid-app .add-expr .add-expr-btn-container .add-expr-icon { color: var(--forge-theme-primary, #3f51b5); }

#explore-grid-app .add-expr .add-expr-btn-container:not(:first-child) { margin-top: 24px; }

#explore-grid-app .kebab-submenu { background-color: rgb(255, 255, 255); min-width: 271px; border: 1px solid rgb(228, 228, 228); box-shadow: rgb(200, 200, 200) 2px 2px 2px; }

#explore-grid-app .kebab-submenu .kebab-submenu-back { padding-top: 7px; padding-bottom: 9px; cursor: pointer; }

#explore-grid-app .kebab-submenu .searchable-picklist { border-top: 0px; }

#explore-grid-app .boolean-divider { margin: 6px 8px; width: calc(100% - 16px); overflow: hidden; }

#explore-grid-app .boolean-divider::after { background-color: var(--forge-theme-border-color, #e0e0e0); content: ""; display: inline-block; height: 1px; position: relative; vertical-align: middle; width: 100%; left: 0.5em; margin-right: -50%; }

#explore-grid-app .boolean-divider .btn { color: rgb(94, 94, 94); }

#explore-grid-app .boolean-divider .btn:hover { text-decoration: none; }

#explore-grid-app .visual-where-editor > .add-expr, #explore-grid-app .visual-having-editor > .add-expr { display: block; flex-grow: 1; padding: 10px 8px; border-radius: 5px; border: 1px solid var(--forge-theme-border-color, #e0e0e0); background-color: var(--forge-theme-surface); }

#explore-grid-app .expr { display: block; position: relative; }

#explore-grid-app .expr input.text-input:not(.multiselect-input-placeholder), #explore-grid-app .expr input[name="date-editor"] { color: var(--forge-theme-text-medium); }

#explore-grid-app .expr .react-datepicker-wrapper { display: flex; align-items: center; }

#explore-grid-app .expr .mouseover-wrapper > input.text-input:not(.multiselect-input-placeholder), #explore-grid-app .expr .react-datepicker-popper { width: 333px; }

#explore-grid-app .expr .multiselect-input-placeholder { min-width: 100px; }

#explore-grid-app .expr .function-name-selector:first-child { padding: 10px 0px 8px 10px; }

#explore-grid-app .expr .function-name-selector .toggle-function-picker { cursor: pointer; }

#explore-grid-app .expr .block-level-change-icon { position: relative; }

#explore-grid-app .expr .block-level-function-change-icon { position: relative; }

#explore-grid-app .expr .block-level-function-change-icon > .expr { display: block; }

#explore-grid-app .expr .change-ast-node-type { cursor: pointer; display: inline-block; }

#explore-grid-app .expr .changeable-node { position: relative; }

#explore-grid-app .expr .changeable-node.operator-and, #explore-grid-app .expr .changeable-node.operator-or { flex-direction: column; align-items: baseline; }

#explore-grid-app .expr .changeable-node .funcall, #explore-grid-app .expr .changeable-node .literal, #explore-grid-app .expr .changeable-node .column-ref, #explore-grid-app .expr .changeable-node .parameter-expr { padding: 10px 8px; }

#explore-grid-app .expr .changeable-node .funcall.block-level-change-icon, #explore-grid-app .expr .changeable-node .funcall.block-level-function-change-icon, #explore-grid-app .expr .changeable-node .literal.block-level-change-icon, #explore-grid-app .expr .changeable-node .literal.block-level-function-change-icon, #explore-grid-app .expr .changeable-node .column-ref.block-level-change-icon, #explore-grid-app .expr .changeable-node .column-ref.block-level-function-change-icon, #explore-grid-app .expr .changeable-node .parameter-expr.block-level-change-icon, #explore-grid-app .expr .changeable-node .parameter-expr.block-level-function-change-icon { padding: 0px; }

#explore-grid-app .expr .changeable-node .funcall .boolean-dropdown .dropdown-placeholder, #explore-grid-app .expr .changeable-node .literal .boolean-dropdown .dropdown-placeholder, #explore-grid-app .expr .changeable-node .column-ref .boolean-dropdown .dropdown-placeholder, #explore-grid-app .expr .changeable-node .parameter-expr .boolean-dropdown .dropdown-placeholder { padding-top: 8px; padding-bottom: 8px; }

#explore-grid-app .expr .ast-node, #explore-grid-app .expr .editable-text-display, #explore-grid-app .expr .editable-text input, #explore-grid-app .expr .funcall, #explore-grid-app .expr .function-arg { display: inline-block; }

#explore-grid-app .expr .multi-select-chip-field forge-chip { overflow-wrap: anywhere; }

#explore-grid-app .expr .function-arg-dataset { margin-top: 8px; margin-left: 8px; font-weight: 600; margin-bottom: -8px; z-index: 1; position: relative; }

#explore-grid-app .expr .function-arg-blank { padding-top: 16px; }

#explore-grid-app .expr .editable-text, #explore-grid-app .expr .editable-text-display { min-width: 50px; }

#explore-grid-app .expr .editable-text .editable-text-value, #explore-grid-app .expr .editable-text-display .editable-text-value { line-height: 25px; }

#explore-grid-app .expr .compilation-failure-for-block { background-color: rgb(250, 240, 240); }

#explore-grid-app .expr .has-type-error { background-color: rgb(250, 240, 240); }

#explore-grid-app .expr .funcall, #explore-grid-app .expr .literal, #explore-grid-app .expr .column-ref { display: flex; align-items: center; flex-wrap: wrap; }

#explore-grid-app .expr .removable.funcall, #explore-grid-app .expr .removable.literal, #explore-grid-app .expr .removable.column-ref { padding: 10px 8px; }

#explore-grid-app .expr .removable.funcall.block-level-change-icon, #explore-grid-app .expr .removable.funcall.block-level-function-change-icon, #explore-grid-app .expr .removable.literal.block-level-change-icon, #explore-grid-app .expr .removable.literal.block-level-function-change-icon, #explore-grid-app .expr .removable.column-ref.block-level-change-icon, #explore-grid-app .expr .removable.column-ref.block-level-function-change-icon { padding: 0px; }

#explore-grid-app .expr .funcall, #explore-grid-app .expr .literal { padding: 4px 8px; }

#explore-grid-app .expr .operator-and.block-level-change-icon, #explore-grid-app .expr .operator-and.block-level-function-change-icon, #explore-grid-app .expr .operator-or.block-level-change-icon, #explore-grid-app .expr .operator-or.block-level-function-change-icon { padding: 0px; }

#explore-grid-app .expr > div { display: inline-block; }

#explore-grid-app .vee-query-success { color: rgb(23, 123, 65); font-size: 24px; margin-left: 4px; }

#explore-grid-app .vee-expr-container.vee-boolean-arg { display: block; width: 100%; }

#explore-grid-app .vee-expr-container.vee-gray-bg { border: 1px solid var(--forge-theme-border-color, #e0e0e0); border-radius: 5px; margin-bottom: 16px; background-color: var(--forge-theme-surface); }

#explore-grid-app .vee-expr-container.vee-gray-bg .vee-white-bg { border: 1px solid rgb(228, 228, 228); margin: 10px 8px; padding: 10px 20px 10px 8px; width: calc(100% - 16px); }

#explore-grid-app .vee-expr-container.vee-gray-bg + .boolean-divider { margin: 0px 8px 16px 0px; width: calc(100% - 8px); }

#explore-grid-app .vee-expr-container .help-message { padding: 0px 16px; z-index: 1; }

#explore-grid-app .vee-expr-container .help-message .aggregate-rules { margin-top: 5px; margin-left: 5px; }

#explore-grid-app .vee-expr-container .help-message .help-heading { padding-bottom: 8px; }

#explore-grid-app .vee-expr-container .aggregate-by-blank-state { position: relative; display: flex; padding-top: 5px; }

#explore-grid-app .vee-expr-container .aggregate-by-blank-state .column-picker-container { max-width: 480px; }

#explore-grid-app .vee-expr-container .aggregate-by-blank-state .column-picker-container .node-picker { display: inline; width: 100%; }

#explore-grid-app .vee-expr-container .aggregate-by-blank-state .column-picker-container .node-picker .aggregate-column-picker { width: 100%; display: flex; justify-content: space-between; }

#explore-grid-app .vee-expr-container .aggregate-name { margin-left: 10px; margin-right: 10px; max-width: 660px; padding-bottom: 10px; }

#explore-grid-app .vee-expr-container .aggregate-name .validation-error { color: rgb(177, 87, 87); }

#explore-grid-app .vee-expr-container.vee-white-bg { background-color: var(--forge-theme-surface-dim, #fff); }

#explore-grid-app .vee-expr-container.vee-no-bg { background-color: inherit; }

#explore-grid-app .vee-expr-container .add-more { margin-left: 10px; padding-bottom: 10px; margin-top: 12px; }

#explore-grid-app .vee-expr-container .add-expr { margin: 0px 8px 10px; width: 100%; }

#explore-grid-app .vee-expr-container .add-expr .boolean-divider { margin: 6px 8px 16px 0px; width: calc(100% - 8px); }

#explore-grid-app .vee-expr-container .add-expr.add-expr-white-bg { margin: 0px 0px 10px; }

#explore-grid-app .vee-expr-container .add-expr.add-expr-white-bg .column-picker-container { padding: 10px 8px; border: 1px solid var(--forge-theme-border-color, #e0e0e0); border-radius: 5px; margin-bottom: 16px; background-color: var(--forge-theme-surface); }

#explore-grid-app .vee-expr-container .add-expr.add-expr-white-bg .add-expr-btn-container { margin-top: 0px; }

#explore-grid-app .vee-expr-container .add-expr.group-by-blank-state { padding-top: 5px; margin: 0px 8px 6px; }

#explore-grid-app .group-by .expr { display: inline-block; }

#explore-grid-app .group-by-add-function { padding-left: 8px; }

.function-name-selector { display: flex; align-items: center; }

.function-name-selector forge-icon { color: var(--forge-theme-text-medium); }

.function-name-selector .toggle-function-picker forge-icon { color: var(--forge-theme-primary); }

#visual-node-date-popper { z-index: 100000 !important; }