@charset "utf-8";

.input-dropdown-button input { background: rgb(255, 255, 255); border: 1px solid rgb(132, 132, 132); cursor: pointer; color: rgb(118, 118, 118); font-size: 12px; line-height: 10px; max-height: 42px; overflow: hidden; padding: 12px; text-overflow: ellipsis; white-space: nowrap; }

.input-dropdown-button input.small { max-width: 160px; }

.input-dropdown-button .onclick-dropdown-menu { min-height: 1px; position: fixed; overflow-y: auto; max-height: 200px; z-index: 102; display: flex; }

.input-dropdown-button .onclick-dropdown-menu.hidden { visibility: hidden; }

.input-dropdown-button .onclick-dropdown-menu.small { max-width: 155px; }

.input-dropdown-button .input-container { position: relative; display: inline-flex; }

@keyframes loading { 
  100% { transform: rotate(360deg); }
}

.input-dropdown-button .input-container .input-loading { content: ""; box-sizing: border-box; position: absolute; width: 20px; height: 20px; top: 8px; right: 5px; border-radius: 60%; border-width: 3px; border-style: solid; border-color: rgb(40, 141, 193) rgb(173, 173, 173) rgb(173, 173, 173); border-image: initial; animation: 0.8s linear 0s infinite normal none running loading; }