@charset "utf-8";

.cs-carousel { position: relative; }

.cs-carousel .carousel__slider { z-index: 1; }

.cs-carousel .carousel__slide { position: relative !important; }

.cs-carousel .carousel__slider:focus { box-shadow: rgb(204, 102, 0) 0px 0px 0px 5px; }

.cs-carousel .carousel__slider:focus::after, .cs-carousel .carousel__slide:focus::after { content: "Carousel is in focus. Use arrow keys to navigate."; position: absolute; top: 0px; left: 0px; background: rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); border-radius: 3px; padding: 0.2em; font-size: 14px; z-index: 5; }

.cs-carousel .carousel__slider-tray { padding-bottom: 5px; min-height: 250px; }

.cs-carousel .carousel__back-button, .cs-carousel .carousel__next-button, .cs-carousel .carousel__play-button, .cs-carousel .carousel__dot, .cs-carousel .cs-carousel-down-arrow { background: transparent; border: 0px; color: rgb(255, 255, 255); margin: 0px; padding: 0px; }

.cs-carousel .carousel__back-button:focus, .cs-carousel .carousel__next-button:focus, .cs-carousel .carousel__play-button:focus, .cs-carousel .carousel__dot:focus, .cs-carousel .cs-carousel-down-arrow:focus { box-shadow: rgb(62, 148, 207) 0px 0px 3px, rgb(62, 148, 207) 0px 0px 7px; outline: 0px; }

.cs-carousel .carousel__back-button, .cs-carousel .carousel__next-button { position: absolute; top: 50%; transform: translateY(-50%); z-index: 2; font-size: 45px; line-height: 1; width: 35px; }

.cs-carousel .carousel__back-button { left: 0px; }

.cs-carousel .carousel__next-button { right: 0px; }

.cs-carousel .carousel__play-button, .cs-carousel .carousel__dot-group, .cs-carousel .cs-carousel-down-arrow { position: absolute; left: 50%; transform: translateX(-50%); z-index: 3; }

.cs-carousel .carousel__play-button { bottom: 40px; font-size: 22px; line-height: 1; width: 35px; }

.cs-carousel .carousel__dot-group { bottom: 10px; text-align: center; z-index: 4; }

.cs-carousel .carousel__dot-group .carousel__dot { font-size: 12px; padding: 5px 10px; }

.cs-carousel .carousel__dot-group .carousel__dot.carousel__dot--selected { color: rgb(255, 153, 0); }

.cs-carousel.cs-carousel-has-down-arrow .carousel__play-button { bottom: 70px; }

.cs-carousel.cs-carousel-has-down-arrow .carousel__dot-group { bottom: 40px; }

.cs-carousel .cs-carousel-down-arrow { bottom: 0px; cursor: pointer; font-size: 45px; line-height: 1; }

.cs-carousel .cs-carousel-down-arrow span { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

@media screen and (max-height: 699px), screen and (max-width: 1199px) {
  .cs-carousel.cs-carousel-has-down-arrow.cs-carousel-hide-down-arrow-on-smaller-screen .carousel__play-button { bottom: 40px; }
  .cs-carousel.cs-carousel-has-down-arrow.cs-carousel-hide-down-arrow-on-smaller-screen .carousel__dot-group { bottom: 10px; }
  .cs-carousel.cs-carousel-has-down-arrow.cs-carousel-hide-down-arrow-on-smaller-screen .cs-carousel-down-arrow { display: none; }
}

.cs-carousel .cs-carousel-children-container { position: absolute; bottom: 23%; width: 100%; z-index: 4; }

.cs-carousel.cs-carousel-dark-buttons .carousel__back-button, .cs-carousel.cs-carousel-dark-buttons .carousel__next-button, .cs-carousel.cs-carousel-dark-buttons .carousel__play-button, .cs-carousel.cs-carousel-dark-buttons .carousel__dot { color: rgb(51, 51, 51); }

.cs-carousel.cs-carousel-dark-buttons .carousel__dot-group .carousel__dot.carousel__dot--selected { color: rgb(194, 81, 0); }

.cs-carousel.cs-carousel-slide-gutter .carousel__slide { padding: 5px 0.5em; }

@media screen and (min-width: 1270px) {
  .cs-carousel.cs-carousel-pad-navigation .carousel__back-button { left: -35px; }
  .cs-carousel.cs-carousel-pad-navigation .carousel__next-button { right: -35px; }
}

@media screen and (max-width: 1269px) {
  .cs-carousel.cs-carousel-pad-navigation { box-sizing: border-box; padding: 0px 35px; }
}

.cs-carousel.cs-carousel-pad-navigation .carousel__slider { margin-bottom: 10px; }

.cs-carousel.cs-carousel-pad-navigation .carousel__play-button, .cs-carousel.cs-carousel-pad-navigation .carousel__dot-group { position: relative; bottom: auto; }

.cs-carousel .carousel__next-button span, .cs-carousel .carousel__back-button span, .cs-carousel .carousel__play-button span { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.cs-carousel .carousel__dot-group .carousel__dot span { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.cs-carousel .carousel__dot-group .carousel__dot::after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: ""; }

.cs-carousel .carousel__inner-slide .cs-home-banner-container, .cs-carousel .carousel__inner-slide .cs-home-banner-wrapper-link, .cs-carousel .carousel__inner-slide .cs-tile { height: 100%; }