@charset "utf-8";

.date-range-picker { display: flex; justify-content: space-between; padding-left: 1px; padding-right: 5px; }

.date-range-picker .date-range-picker-start, .date-range-picker .date-range-picker-end { position: relative; height: 40px; }

.date-range-picker .date-range-picker-start .date-picker-input, .date-range-picker .date-range-picker-end .date-picker-input { height: 40px; max-width: 145px; padding-left: 31px; padding-right: 10px; }

.date-range-picker .date-range-picker-start .socrata-icon, .date-range-picker .date-range-picker-end .socrata-icon { position: absolute; z-index: 1; width: 15px; height: 15px; left: 11px; top: 11px; }

.date-range-picker .date-range-picker-start .loading-spinner, .date-range-picker .date-range-picker-end .loading-spinner { position: absolute; z-index: 1; width: 15px; height: 15px; left: 10px; top: 4px; }

.date-range-picker .range-separator { line-height: 3.5; height: 40px; }

.date-range-picker .react-datepicker-popper { z-index: 51; }

.date-range-picker .relative-date-buttons-container { display: flex; }

.date-range-picker .relative-date-buttons-container .btn { background-color: transparent; border: none; padding: 0px 20px; flex: 1 1 0%; font-size: 13px; font-weight: 600; }

.date-range-picker .relative-date-buttons-container .btn:hover { text-decoration: underline; }

.date-range-picker .relative-date-buttons-container .btn.btn-left { text-align: left; }

.date-range-picker .relative-date-buttons-container .btn.btn-right { text-align: right; }

.react-datepicker__today-button { border-bottom-right-radius: 0.3rem; border-bottom-left-radius: 0.3rem; }

.react-datepicker__day-name, .react-datepicker__day { width: 39px; line-height: 27px; font-size: 12px; }

.react-datepicker__current-month { font-size: 15px; }