@charset "utf-8";

.advanced-flyout-container { border: none; background: transparent; padding: 0px; }

.advanced-flyout-container .advanced-flyout { position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgb(173, 173, 173) 0px 0px 8px -2px; border: 1px solid rgb(228, 228, 228); border-radius: 1px; max-width: 250px; z-index: 1; }

.advanced-flyout-container .advanced-flyout.flyout-hidden { display: none; }

.advanced-flyout-container .advanced-flyout::before { border-color: transparent; border-width: 12px; border-style: solid; margin-top: -5px; margin-left: -3px; content: ""; top: -7px; display: block; position: absolute; transform: rotateZ(-135deg); }

.advanced-flyout-container .advanced-flyout::after { border-color: transparent; border-width: 10px; border-style: solid; margin-top: -5px; margin-left: -3px; content: ""; top: -5px; display: block; position: absolute; transform: rotateZ(-135deg); }

.advanced-flyout-container .advanced-flyout.flyout-right { border-top-left-radius: 0px; }

.advanced-flyout-container .advanced-flyout.flyout-right::before { border-bottom-color: rgb(228, 228, 228); margin-left: -3px; left: -10px; }

.advanced-flyout-container .advanced-flyout.flyout-right::after { border-bottom-color: rgb(255, 255, 255); margin-left: -3px; left: -7px; }

.advanced-flyout-container .advanced-flyout.flyout-left { border-top-right-radius: 0px; }

.advanced-flyout-container .advanced-flyout.flyout-left::before { border-right-color: rgb(228, 228, 228); margin-right: -3px; right: -10px; }

.advanced-flyout-container .advanced-flyout.flyout-left::after { border-right-color: rgb(255, 255, 255); margin-right: -3px; right: -7px; }

.advanced-flyout-container .flyout-content { padding: 1rem; overflow-y: auto; max-height: 150px; font-size: 1.2rem; text-align: left; }

.advanced-flyout-container .flyout-content > :first-child { margin-top: 0px; }

.advanced-flyout-container .flyout-content > :last-child { margin-bottom: 0px; }