@charset "utf-8";

.cs-cityscape-tile { font-family: "Open Sans", open-sans, sans-serif; background-size: cover; background-repeat: no-repeat; color: rgb(255, 255, 255); list-style: none; }

.cs-cityscape-tile a { display: flex; height: 100%; text-decoration: none; }

.cs-cityscape-tile a:hover, .cs-cityscape-tile a:focus { color: inherit; text-decoration: underline; }

.cs-cityscape-tile .cs-title-wrapper { align-self: flex-end; width: 100%; padding: 5px 10px; font-weight: 300; font-size: 25px; background-color: rgba(0, 0, 0, 0.4); }

.cs-cityscape-tile .cs-title-wrapper .cs-tile-title { margin: 10px; }

.cs-cityscape-tile:hover .cs-title-wrapper, .cs-cityscape-tile:focus .cs-title-wrapper { background-color: rgba(0, 0, 0, 0.7); }