@charset "utf-8";

.three-state-checkbox input[type="checkbox"] { position: absolute; display: block; opacity: 0; }

.three-state-checkbox .fake-checkbox { border-radius: 1px; border: 1px solid rgb(226, 226, 226); box-shadow: rgba(0, 0, 17, 0.1) 1px 1px 3px 0px inset; cursor: pointer; display: inline-block; height: 19px; margin: 0px 5px 0px 0px; overflow: hidden; padding: 0px; text-align: center; vertical-align: text-bottom; width: 19px; }

.three-state-checkbox input[type="checkbox"] + label .fake-checkbox span { display: none; }

.three-state-checkbox input[type="checkbox"]:indeterminate + label .fake-checkbox span, .three-state-checkbox input[type="checkbox"]:checked + label .fake-checkbox span { padding-left: 1px; display: inline-block; vertical-align: text-top; }

.three-state-checkbox input[type="checkbox"]:focus + label > .fake-checkbox { outline: solid 2px; }

.three-state-checkbox .icon-checkmark3 { font-size: 16px; line-height: 0.6 !important; }

.three-state-checkbox .icon-minus { border-right: 2px solid rgb(105, 106, 106); display: inline-block; height: 11px; transform: rotate(90deg); width: 7px; }