@charset "utf-8";

.socrata-icon { width: 15px; height: 15px; display: inline-block; line-height: 1; }

.socrata-icon::before { display: none; }

.socrata-icon.socrata-icon::before { display: none; }

.socrata-icon svg { width: inherit; height: inherit; vertical-align: top; }

.socrata-icon svg circle, .socrata-icon svg path, .socrata-icon svg polygon { fill: currentcolor; }

.socrata-icon.btn-icon { margin-right: 5px; }