@charset "utf-8";

.watchlist-content { position: relative; min-height: 262px; font-size: 14px; }

.watchlist-content .help-text { padding-top: 20px; padding-bottom: 20px; margin-bottom: 8px; border-bottom: 1px solid rgb(228, 228, 228); }

.watchlist-content .watch-title { padding-top: 16px; }

.watchlist-content .watch-item { font-size: 14px; text-transform: capitalize; border-bottom: 1px solid rgb(228, 228, 228); }

.watchlist-content .watch-item span { padding-right: 20px; }

.watchlist-content .watch-item a { text-decoration: none; }

.watchlist-content .watch-item a:hover { text-decoration: underline; }