@charset "utf-8";

.preferences-content { margin-top: 15px; padding-left: 3px; position: relative; }

.preferences-content .preference-title { color: rgb(105, 106, 106); font-weight: bold; margin-left: 0px; }

.preferences-content .description { margin-left: 0px; }

.preferences-content .preference-label { font-size: 13px; text-transform: uppercase; font-weight: bold; color: rgb(105, 106, 106); }

.preferences-content .preferences-checkbox .icon-checkmark3 { font-size: 16px; line-height: 0.6 !important; }

.preferences-content .preferences-checkbox .fake-checkbox { padding: 0px; height: 20px; width: 20px; }

.preferences-content .preferences-checkbox .checkbox input[type="checkbox"] { position: absolute; }

.preferences-content .preference-table { font-size: 12px; padding: 0px 0px 20px; min-width: 100%; width: 100%; }

.preferences-content .preference-table .form-component-input-label-container { display: block; }

.preferences-content .preference-table .alert-preference-group-settings-header-row, .preferences-content .preference-table .alert-preference-group-settings-row, .preferences-content .preference-table .alert-preference-option-row { display: flex; justify-content: stretch; align-items: center; padding: 0.25rem; }

.preferences-content .preference-table .alert-preference-group-settings-header-row > *, .preferences-content .preference-table .alert-preference-group-settings-row > *, .preferences-content .preference-table .alert-preference-option-row > * { display: flex; align-items: center; }

.preferences-content .preference-table .alert-preference-group-settings-header-row > :first-child, .preferences-content .preference-table .alert-preference-group-settings-row > :first-child, .preferences-content .preference-table .alert-preference-option-row > :first-child { width: calc(100% - 300px); }

.preferences-content .preference-table .alert-preference-description-row, .preferences-content .preference-table .alert-preference-single-option-row { padding: 0.25rem; }

.preferences-content .preference-table .alert-preference-description-row:not(:first-child) { border-top: 1px solid rgb(145, 145, 145); margin-top: 30px; }

.preferences-content .preference-table .alert-preference-group-settings-header-row .alert-preferences-group-settings-column-header { text-transform: uppercase; }

.preferences-content .preference-table .alert-preference-option-row { flex-wrap: wrap; }

.preferences-content .preference-table .alert-preference-option-row .break { flex-basis: 100%; }

.preferences-content .preference-table .alert-preference-option-row.row-disambiguation:nth-child(2n) { background: rgb(251, 251, 251); }

.preferences-content .preference-table .alert-preference-option-row.row-disambiguation:hover { background: rgb(246, 246, 246); }

.preferences-content .preference-table .alert-preference-option-row:not(:first-child) { margin-bottom: 0.25em; }

.preferences-content .preference-table .fake-checkbox { margin-right: 5px; }

.preferences-content .preference-table .alert-preference-options > div:not(:first-child) { margin-left: 20px; }

.preferences-content .email-settings thead tr th { font-size: 14px; font-weight: bold; }

.preferences-content .email-settings thead tr th.column-name { text-align: left; }

.preferences-content .email-settings .option-column { width: 54%; }