@charset "utf-8";

.more-action-page { --forge-theme-text-medium: rgba(0, 0, 0, 0.54); position: fixed; top: 56px; background: rgb(255, 255, 255); left: 0px; z-index: 9999; width: 100vw; height: calc(-56px + 100vh); }

.more-action-page .forge-typography--subheading2 { --forge-theme-text-medium: rgba(0, 0, 0, 0.87); }

.more-action-page .more-action-page-header { display: flex; flex-direction: column; }

.more-action-page .more-action-page-header > #close-more-action-page { color: rgba(0, 0, 0, 0.54); align-self: flex-end; }

.more-action-page .more-action-page-profile { --forge-avatar-size: 55px; display: flex; flex-direction: column; align-items: center; margin-bottom: 1.25rem; }

.more-action-page .more-action-page-profile forge-avatar { margin-bottom: 0.65rem; }

.more-action-page forge-list { color: var(--forge-theme-text-high); }