@charset "utf-8";

.cs-tile-hover-styles:hover, .cs-tile-hover-styles:focus, .cs-tile-hover-styles:active { background-color: rgb(230, 246, 247); }

.cs-category-tile { display: flex; flex-direction: column; justify-content: center; align-items: stretch; padding: 1em; background-color: rgb(255, 255, 255); text-align: center; text-decoration: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px; transition: 0.2s ease-in; }

.cs-category-tile:visited { color: inherit; text-decoration: none; }

.cs-category-tile:focus { box-shadow: rgb(62, 148, 207) 0px 0px 3px, rgb(62, 148, 207) 0px 0px 7px; outline: 0px; }

.cs-category-tile .cs-tile-button { border: 0px; width: 50%; border-radius: 3px; background: rgb(30, 136, 229); color: rgb(255, 255, 255); font-family: "Open Sans", sans-serif; font-size: 1rem; line-height: 1.2; white-space: nowrap; text-decoration: none; padding: 10px 5px; cursor: pointer; align-self: center; transition: 0.2s; transform: translateY(0px); }

.cs-category-tile .cs-tile-button:hover { transition: 0.2s; transform: translateY(-2px); box-shadow: rgb(119, 119, 119) 0px 3px 17px -5px; }

.cs-category-tile .cs-tile-button i { padding: 0px 5px; }

.cs-category-tile .cs-tile-icon, .cs-category-tile .cs-tile-title { color: rgb(0, 161, 175); }

.cs-category-tile .cs-tile-image img { margin-bottom: 0px; font-size: 2.82248em; transition: 0.2s ease-in; }

.cs-category-tile .cs-tile-icon { margin-bottom: 0px; font-size: 2.82248em; transition: 0.2s ease-in; }

.cs-category-tile .cs-tile-icon-description { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.cs-category-tile .cs-tile-title { width: 100%; font-size: 1.57453em; line-height: 1.5; transition: 0.2s ease-in; }

.cs-category-tile .cs-tile-description { width: 100%; transition: 0.2s ease-in; color: rgb(28, 28, 28); font-size: 0.878357em; line-height: 1.5; overflow: hidden; text-overflow: ellipsis; display: flex; flex-direction: column; }

.cs-category-tile.cs-border-top { border-top: 3px solid rgb(0, 161, 175); }

.cs-category-tile.cs-border-bottom { border-bottom: 3px solid rgb(0, 161, 175); }