@charset "utf-8";

.hlzyrD { padding: 0px 1em; margin: 0px 8vw; }

.kXxxKZ { padding: 50px 0px; background-image: url(""); background-blend-mode: overlay; background-size: cover; background-position: 0px 0px; background-repeat: no-repeat; }

.tnaNy { padding: 50px 0px; background-image: url(""); background-repeat: no-repeat; }

.gLDqgV { padding: 50px 0px; background-image: url(""); background-color: rgb(241, 241, 241); background-blend-mode: overlay; background-size: cover; background-position: 0px 0px; background-repeat: no-repeat; }