@charset "utf-8";

.alert-snooze-options .title-text { color: rgb(40, 141, 193); }

.alert-snooze-options .alert-snooze-items { display: flex; justify-content: space-around; margin-bottom: 0px; }

.alert-snooze-options .alert-snooze-items input[type="text"] { width: 20%; max-width: 80px; margin-right: 10px; }

.alert-snooze-options .error-info { text-align: right; font-size: 14px; color: rgb(206, 101, 101); }