@charset "utf-8";

:root { --pdf-preview-header-background: #f0f5f9; }

.pdf-preview-modal { position: fixed; z-index: 3000; inset: 0px; }

.pdf-preview-modal .pdf-preview-modal__settings { display: flex; }

.pdf-preview-modal__container { display: flex; flex-direction: column; height: 100vh; }

.pdf-preview-modal__content { display: flex; flex-direction: column; flex: 1 1 0%; }

.pdf-preview-modal__settings { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(229, 229, 229); padding: 1rem; display: block; gap: 1rem; align-items: center; }

.pdf-preview-modal__settings-group { display: inline; padding-left: 10px; align-items: center; gap: 0.5rem; }

.pdf-preview-modal__settings-group label { font-size: 0.875rem; padding-right: 5px; color: rgb(74, 74, 74); white-space: nowrap; }

.pdf-preview-modal__settings-group select { height: 28px; padding: 0px 0.5rem; border: 1px solid rgb(209, 209, 209); border-radius: 4px; font-size: 0.875rem; min-width: 120px; }

.pdf-preview-modal__settings .scale-group { display: inline; align-items: center; gap: 0.5rem; }

.pdf-preview-modal__settings .scale-group input[type="range"] { width: 100px; display: inline; }

.pdf-preview-modal__settings .scale-group .scale-value { min-width: 3rem; display: inline; font-size: 0.875rem; color: rgb(102, 102, 102); }

.pdf-preview-modal__settings .font-size-slider { width: 300px; position: relative; }

.pdf-preview-modal__settings .font-size-slider::before { content: "1"; position: absolute; left: 0px; color: rgb(0, 0, 0); transform: translate(23px, 28px); }

.pdf-preview-modal__settings .font-size-slider::after { content: "10"; position: absolute; bottom: 0px; right: 0px; color: rgb(0, 0, 0); }

.pdf-preview-modal .preview-modal-header { display: flex; background-color: var(--pdf-preview-header-background); justify-content: space-between; align-items: center; max-height: 52px; padding: 12px 19px; }

.pdf-preview-modal .pdf-preview-body { height: 87%; width: 100%; }

.pdf-preview-modal .pdf-preview-body.forge-dialog__body { padding: 0px; }

.pdf-preview-modal .pdf-preview-body iframe { width: 100%; height: 100%; }

.pdf-preview-modal .pdf-preview-body .message-container { align-items: center; display: flex; height: 100%; justify-content: center; }

.pdf-preview-modal .pdf-preview-body .message-container .message-wrapper { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px; padding: 20px; }