@charset "utf-8";

.alert-trigger-page .alert-trigger-title { font-size: 15px; font-weight: 600; }

.alert-trigger-page label { color: rgb(94, 94, 94); display: block; font-size: 14px; font-weight: 800; padding-bottom: 10px; }

.alert-trigger-page .dropdown-size-large { min-width: 55%; padding-left: 2px; }

.alert-trigger-page .trigger-options { border-bottom: 1px solid rgb(241, 241, 241); padding: 30px 0px; margin-bottom: 30px; }

.alert-trigger-page .trigger-options .split-section { display: flex; }

.alert-trigger-page .trigger-options .alert-options { width: 45%; }

.alert-trigger-page .trigger-options::after { content: ""; clear: both; display: table; }

.alert-trigger-page .trigger-options .trigger-link { color: rgb(40, 141, 193); }

.alert-trigger-page .web-hook { clear: both; color: rgb(51, 51, 51); }

.alert-trigger-page .web-hook .web-hook-section { font-size: 12px; }

.alert-trigger-page .web-hook .web-hook-section label { margin-right: 20px; }

.alert-trigger-page .web-hook .web-hook-section .input-section { display: inline; position: relative; }

.alert-trigger-page .web-hook .web-hook-section .input-section .sticky-text { border-right: 1px solid rgb(132, 132, 132); left: 0px; padding: 8px 10px; position: absolute; }

.alert-trigger-page .web-hook .web-hook-section .input-section input { height: 35px; padding: 0px 0px 0px 70px; width: 75%; }