@charset "utf-8";

.time-based-options { padding-top: 20px; padding-left: 2px; }

.time-based-options .trigger-link { color: rgb(40, 141, 193); }

.time-based-options .error-info { vertical-align: middle; color: rgb(206, 101, 101); }

.time-based-options input { border: 1px solid rgb(200, 200, 200); height: 40px; padding: 0px 10px; }

.time-based-options .days-options .day-checkbox label, .time-based-options .drop-down-container label, .time-based-options .time-field-container label, .time-based-options .day-on-month label { font-weight: 500; }

.time-based-options .time-option { display: flex; }

.time-based-options .time-option .drop-down-container { width: 35%; margin-right: 20px; }

.time-based-options .time-option .drop-down-container .dropdown-size-large, .time-based-options .time-option .drop-down-container .zone-drop-down { width: 100%; }

.time-based-options .time-option .time-field-container { width: 20%; margin-right: 20px; }

.time-based-options .time-option .time-field-container .time-split { align-items: center; display: flex; }

.time-based-options .time-option .time-field-container .time-split .separate { margin: 0px 5px; }

.time-based-options .time-option .time-field-container .time-split .timeinput { border: 1px solid rgb(200, 200, 200); height: 40px; padding: 0px 10px; width: 100%; }

.time-based-options .days-options { display: flex; flex-wrap: wrap; padding-left: 2px; }

.time-based-options .days-options .day-checkbox { width: 20%; }

.time-based-options .days-options .day-checkbox input { height: auto; }

.time-based-options .day-on-month input { margin: 0px 10px; width: 50px; }