@charset "utf-8";

.mobile-create-assets-drawer { background: rgb(255, 255, 255); z-index: 9999; overflow: auto; height: calc(-56px + 100vh); }

.mobile-create-assets-drawer .mobile-create-assets-drawer-header { display: flex; flex-direction: column; }

.mobile-create-assets-drawer .mobile-create-assets-drawer-header > #close-more-action-page { align-self: flex-end; }

.mobile-create-assets-drawer .create-assets-cards { flex-direction: column; }

.mobile-create-assets-drawer .create-assets-cards forge-card { width: calc(100% - 20px) !important; }

.mobile-create-assets-drawer .close-button { display: none; }

.mobile-create-assets-drawer forge-icon-button { color: var(--forge-theme-text-medium); }