@charset "utf-8";

@keyframes spin { 
  100% { transform: rotate(360deg); }
}

.spinner-default { animation: 0.9s linear 0s infinite normal none running spin; border-width: 3px; border-style: solid; border-color: rgb(40, 141, 193) rgb(234, 244, 249) rgb(40, 141, 193) rgb(40, 141, 193); border-image: initial; border-radius: 50%; display: inline-block; }

.spinner-default.spinner-dark { border-color: rgb(234, 244, 249) rgb(40, 141, 193) rgb(234, 244, 249) rgb(234, 244, 249); }

.spinner-default.spinner-large { border-width: 8px; width: 64px; height: 64px; }

.spinner-btn-primary { border-color: rgb(255, 255, 255) rgb(32, 113, 154) rgb(255, 255, 255) rgb(255, 255, 255); }

@keyframes spin { 
  100% { transform: rotate(360deg); }
}

.btn { display: inline-block; border-radius: 1px; border: 1px solid transparent; transition: color 0.2s, background-color 0.2s; cursor: pointer; text-decoration: none; letter-spacing: 0px; }

.btn .spinner-container { align-items: center; inset: 0px; display: flex; justify-content: center; position: absolute; }

.btn .spinner-default { width: 1.5rem; height: 1.5rem; border-width: 3px; }

.btn.btn-lg { }

.btn.btn-lg .spinner-default { width: 1rem; height: 1rem; border-width: 2px; }

.btn.btn-sm { }

.btn.btn-sm .spinner-default { width: 0.85rem; height: 0.85rem; border-width: 2px; }

.btn.btn-xs { }

.btn.btn-xs .spinner-default { width: 0.75rem; height: 0.75rem; border-width: 2px; }

.btn [class*="socrata-icon-"] { position: relative; }

.btn-link { color: rgb(28, 99, 135); text-decoration: none; padding: 0px; display: inline; border: 0px; background: transparent; }

.btn-link:hover { text-decoration: underline; }

.btn-link:disabled, .btn-link.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); cursor: not-allowed; background: transparent; }

.btn-link:disabled.btn-dark, .btn-link.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-link:disabled:hover, .btn-link.btn-disabled:hover { text-decoration: none; }

.btn-block { width: 100%; }

.btn-busy { cursor: progress; border: 1px solid transparent; position: relative; }

.btn-busy:disabled, .btn-busy.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-busy:disabled.btn-dark, .btn-busy.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-busy span { animation: 0.9s linear 0s infinite normal none running spin; border: 3px solid; border-radius: 60%; display: inline-block; width: 2rem; height: 2rem; }

.btn-default, .delete-alert-modal .delete-footer .delete-options .btn-cancel, .btn-simple { color: var(--forge-theme-text-high); background-color: rgb(255, 255, 255); border-color: rgb(200, 200, 200); }

.btn-default:hover, .delete-alert-modal .delete-footer .delete-options .btn-cancel:hover, .btn-simple:hover, .btn-default:focus, .delete-alert-modal .delete-footer .delete-options .btn-cancel:focus, .btn-simple:focus { color: var(--forge-theme-text-high); background-color: rgb(241, 241, 241); }

.btn-default:hover.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-cancel:hover.btn-inverse, .btn-simple:hover.btn-inverse, .btn-default:focus.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-cancel:focus.btn-inverse, .btn-simple:focus.btn-inverse { border-color: transparent; background-color: rgb(255, 255, 255); color: rgb(118, 118, 118); transition: border-color 0.35s; }

.btn-default:hover.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-cancel:hover.btn-dark, .btn-simple:hover.btn-dark, .btn-default:focus.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-cancel:focus.btn-dark, .btn-simple:focus.btn-dark { background-color: rgb(94, 94, 94); }

.btn-default:active, .delete-alert-modal .delete-footer .delete-options .btn-cancel:active, .btn-simple:active, .btn-default.active, .delete-alert-modal .delete-footer .delete-options .active.btn-cancel, .active.btn-simple { border-color: rgb(204, 204, 204); background-color: rgb(241, 241, 241); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-default:active.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-cancel:active.btn-inverse, .btn-simple:active.btn-inverse, .btn-default.active.btn-inverse, .delete-alert-modal .delete-footer .delete-options .active.btn-inverse.btn-cancel, .active.btn-inverse.btn-simple { border-color: transparent; background-color: rgb(255, 255, 255); color: rgb(118, 118, 118); transition: border-color 0.35s; }

.btn-default:disabled, .delete-alert-modal .delete-footer .delete-options .btn-cancel:disabled, .btn-simple:disabled, .btn-default.btn-disabled, .delete-alert-modal .delete-footer .delete-options .btn-disabled.btn-cancel, .btn-disabled.btn-simple { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-default:disabled.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-cancel:disabled.btn-dark, .btn-simple:disabled.btn-dark, .btn-default.btn-disabled.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-disabled.btn-dark.btn-cancel, .btn-disabled.btn-dark.btn-simple { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-default.btn-disabled-light, .delete-alert-modal .delete-footer .delete-options .btn-disabled-light.btn-cancel, .btn-disabled-light.btn-simple { background-color: rgb(246, 246, 246); color: rgb(200, 200, 200); border-color: rgb(228, 228, 228); }

.btn-default.active, .delete-alert-modal .delete-footer .delete-options .active.btn-cancel, .active.btn-simple { box-shadow: rgb(136, 136, 136) 0px 0px 10px -2px inset; }

.btn-default.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-inverse.btn-cancel, .btn-inverse.btn-simple { color: rgb(255, 255, 255); background-color: transparent; border-color: rgb(255, 255, 255); }

.btn-default.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-dark.btn-cancel, .btn-dark.btn-simple { color: rgb(255, 255, 255); background-color: rgb(118, 118, 118); border-color: rgb(118, 118, 118); }

.btn-default.btn-busy span, .delete-alert-modal .delete-footer .delete-options .btn-busy.btn-cancel span, .btn-busy.btn-simple span { border-color: rgb(255, 255, 255) rgb(173, 173, 173) rgb(255, 255, 255) rgb(255, 255, 255); }

.btn-simple { color: rgb(94, 94, 94); background-color: rgb(241, 241, 241); }

.btn-simple:hover, .btn-simple:focus { background-color: rgb(228, 228, 228); color: rgb(94, 94, 94); }

.btn-primary, .delete-alert-modal .delete-footer .delete-options .btn-delete { color: rgb(255, 255, 255); background-color: rgb(28, 99, 135); border-color: rgb(40, 141, 193); }

.btn-primary:visited, .delete-alert-modal .delete-footer .delete-options .btn-delete:visited { color: rgb(255, 255, 255); }

.btn-primary:hover, .delete-alert-modal .delete-footer .delete-options .btn-delete:hover, .btn-primary:focus, .delete-alert-modal .delete-footer .delete-options .btn-delete:focus { background-color: rgb(20, 72, 99); }

.btn-primary:hover.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-delete:hover.btn-inverse, .btn-primary:focus.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-delete:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(28, 99, 135); }

.btn-primary:active, .delete-alert-modal .delete-footer .delete-options .btn-delete:active, .btn-primary.active, .delete-alert-modal .delete-footer .delete-options .active.btn-delete { border-color: rgb(36, 127, 174); background-color: rgb(20, 72, 99); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-primary:disabled, .delete-alert-modal .delete-footer .delete-options .btn-delete:disabled, .btn-primary.btn-disabled, .delete-alert-modal .delete-footer .delete-options .btn-disabled.btn-delete { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-primary:disabled.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-delete:disabled.btn-dark, .btn-primary.btn-disabled.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-disabled.btn-dark.btn-delete { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-primary.btn-inverse, .delete-alert-modal .delete-footer .delete-options .btn-inverse.btn-delete { color: rgb(28, 99, 135); background-color: rgb(255, 255, 255); }

.btn-primary.btn-inverse.btn-disabled, .delete-alert-modal .delete-footer .delete-options .btn-inverse.btn-disabled.btn-delete { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-primary.btn-inverse.btn-disabled.btn-dark, .delete-alert-modal .delete-footer .delete-options .btn-inverse.btn-disabled.btn-dark.btn-delete { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-primary.btn-busy span, .delete-alert-modal .delete-footer .delete-options .btn-busy.btn-delete span { border-right-color: rgb(83, 164, 205); }

.btn-alternate-2 { color: rgb(255, 255, 255); background-color: rgb(0, 113, 124); border-color: rgb(0, 161, 175); }

.btn-alternate-2:hover, .btn-alternate-2:focus { background-color: rgb(0, 90, 99); color: rgb(255, 255, 255); }

.btn-alternate-2:hover.btn-inverse, .btn-alternate-2:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(0, 113, 124); }

.btn-alternate-2:hover.btn-inverse:disabled, .btn-alternate-2:hover.btn-inverse.btn-disabled, .btn-alternate-2:focus.btn-inverse:disabled, .btn-alternate-2:focus.btn-inverse.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-alternate-2:hover.btn-inverse:disabled.btn-dark, .btn-alternate-2:hover.btn-inverse.btn-disabled.btn-dark, .btn-alternate-2:focus.btn-inverse:disabled.btn-dark, .btn-alternate-2:focus.btn-inverse.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-alternate-2:active, .btn-alternate-2.active { border-color: rgb(0, 145, 158); background-color: rgb(0, 90, 99); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-alternate-2.btn-inverse { color: rgb(0, 113, 124); background-color: rgb(255, 255, 255); }

.btn-alternate-2:disabled, .btn-alternate-2.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-alternate-2:disabled.btn-dark, .btn-alternate-2.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-alternate-2.btn-busy span { border-right-color: rgb(51, 180, 191); }

.btn-alternate-3 { color: rgb(255, 255, 255); background-color: rgb(0, 190, 155); border-color: rgb(0, 190, 155); }

.btn-alternate-3:hover, .btn-alternate-3:focus { background-color: rgb(0, 152, 124); }

.btn-alternate-3:hover.btn-inverse, .btn-alternate-3:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(0, 190, 155); }

.btn-alternate-3:hover.btn-inverse:disabled, .btn-alternate-3:hover.btn-inverse.btn-disabled, .btn-alternate-3:focus.btn-inverse:disabled, .btn-alternate-3:focus.btn-inverse.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-alternate-3:hover.btn-inverse:disabled.btn-dark, .btn-alternate-3:hover.btn-inverse.btn-disabled.btn-dark, .btn-alternate-3:focus.btn-inverse:disabled.btn-dark, .btn-alternate-3:focus.btn-inverse.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-alternate-3:active, .btn-alternate-3.active { border-color: rgb(0, 171, 140); background-color: rgb(0, 152, 124); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-alternate-3:disabled, .btn-alternate-3.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-alternate-3:disabled.btn-dark, .btn-alternate-3.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-alternate-3.btn-inverse { color: rgb(0, 190, 155); background-color: rgb(255, 255, 255); }

.btn-alternate-3.btn-busy span { border-right-color: rgb(51, 203, 175); }

.btn-warning { color: rgb(255, 255, 255); background-color: rgb(230, 175, 0); border-color: rgb(230, 175, 0); }

.btn-warning:hover, .btn-warning:focus { background-color: rgb(184, 140, 0); }

.btn-warning:hover.btn-inverse, .btn-warning:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(230, 175, 0); }

.btn-warning:active, .btn-warning.active { border-color: rgb(207, 158, 0); background-color: rgb(184, 140, 0); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-warning:disabled, .btn-warning.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-warning:disabled.btn-dark, .btn-warning.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-warning:disabled.btn-inverse, .btn-warning.btn-disabled.btn-inverse { background-color: inherit; }

.btn-warning.btn-inverse { color: rgb(230, 175, 0); background-color: rgb(255, 255, 255); }

.btn-success { color: rgb(255, 255, 255); background-color: rgb(43, 175, 95); border-color: rgb(43, 175, 95); }

.btn-success:hover, .btn-success:focus { cursor: default; }

.btn-success:hover.btn-inverse, .btn-success:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(43, 175, 95); }

.btn-success:active, .btn-success.active { border-color: rgb(39, 158, 86); background-color: rgb(34, 140, 76); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-success:disabled, .btn-success.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-success:disabled.btn-dark, .btn-success.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-success:disabled.btn-inverse, .btn-success.btn-disabled.btn-inverse { background-color: inherit; }

.btn-success.btn-inverse { color: rgb(37, 151, 82); background-color: rgb(255, 255, 255); }

.btn-error { color: rgb(255, 255, 255); background-color: rgb(145, 70, 70); border-color: rgb(206, 101, 101); }

.btn-error:hover, .btn-error:focus { background-color: rgb(165, 81, 81); }

.btn-error:hover.btn-inverse, .btn-error:focus.btn-inverse { color: rgb(255, 255, 255); background-color: rgb(206, 101, 101); }

.btn-error:active, .btn-error.active { border-color: rgb(185, 91, 91); background-color: rgb(165, 81, 81); box-shadow: rgb(44, 44, 44) 0px 0px 10px -2px inset; }

.btn-error:disabled, .btn-error.btn-disabled { color: rgb(71, 71, 71); border-color: rgb(145, 145, 145); background-color: rgb(200, 200, 200); cursor: not-allowed; }

.btn-error:disabled.btn-dark, .btn-error.btn-disabled.btn-dark { color: rgb(145, 145, 145); border-color: rgb(118, 118, 118); background-color: rgb(94, 94, 94); }

.btn-error:disabled.btn-inverse, .btn-error.btn-disabled.btn-inverse { background-color: inherit; }

.btn-error.btn-inverse { color: rgb(206, 101, 101); background-color: rgb(255, 255, 255); }

.btn-transparent, .btn-transparent:hover, .btn-transparent:active, .btn-transparent:focus, .btn-transparent:disabled { border-color: transparent; background-color: transparent; }

.btn-transparent.btn-busy, .btn-transparent:hover.btn-busy, .btn-transparent:active.btn-busy, .btn-transparent:focus.btn-busy, .btn-transparent:disabled.btn-busy { cursor: progress; }

.btn-transparent.btn-busy span, .btn-transparent:hover.btn-busy span, .btn-transparent:active.btn-busy span, .btn-transparent:focus.btn-busy span, .btn-transparent:disabled.btn-busy span { border-color: rgb(94, 94, 94) rgb(173, 173, 173) rgb(94, 94, 94) rgb(94, 94, 94); }

.delete-alert-modal .delete-footer .delete-options { margin-top: 20px; }

.delete-alert-modal .delete-footer .delete-options .btn { border: 1px solid; cursor: pointer; font-size: 12px; margin-right: 10px; padding: 5px 15px; width: 75px; }

.delete-alert-modal .delete-footer .delete-options .btn-delete { width: fit-content; }

.delete-alert-modal .delete-footer .delete-options .btn-cancel { border-color: rgb(145, 145, 145); }

.delete-alert-modal .delete-footer hr { border: 1px solid rgb(241, 241, 241); }

.delete-alert-modal .delete-footer .title { color: rgb(44, 44, 44); display: block; font-weight: bold; margin-top: 20px; font-size: 12px !important; }

.delete-alert-modal .error-message { background-color: rgb(234, 244, 249); border-radius: 5px; color: rgb(206, 101, 101); display: block; font-size: 14px; padding: 8px; width: 100%; margin-top: 20px; }