@charset "utf-8";

.cs-carousel { position: relative; }

.cs-carousel .cs-pager-description { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.cs-carousel .slick-slider { position: relative; display: block; box-sizing: border-box; user-select: none; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.cs-carousel .slick-list { position: relative; overflow-x: hidden; display: block; margin: 0px; padding: 0px; }

.cs-carousel .slick-list:focus { outline: none; }

.cs-carousel .slick-list.dragging { }

.cs-carousel .slick-slider .slick-track, .cs-carousel .slick-slider .slick-list { transform: translate3d(0px, 0px, 0px); }

.cs-carousel .slick-track { position: relative; left: 0px; top: 0px; display: flex; align-items: stretch; }

.cs-carousel .slick-track .slick-loading .slick-track { visibility: hidden; }

.slick-loading .cs-carousel { visibility: hidden; }

.cs-carousel .slick-slide { flex: 1 1 0%; min-height: 1px; display: none; }

[dir="rtl"] .cs-carousel .slick-slide { float: right; }

.cs-carousel .slick-slide img { display: block; }

.cs-carousel .slick-slide.slick-loading img { display: none; }

.cs-carousel .slick-slide.dragging img { pointer-events: none; }

.cs-carousel .slick-slide > div { width: 100%; display: flex; flex-direction: column; }

.cs-carousel .slick-initialized .slick-slide { display: flex; }

.cs-carousel .slick-loading .slick-slide { visibility: hidden; }

.cs-carousel .slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.cs-carousel .slick-arrow.slick-hidden { display: none; }

.cs-carousel .slick-prev, .cs-carousel .slick-next { z-index: 1; position: absolute; display: block; height: 40px; width: 20px; line-height: 40px; font-size: 45px; cursor: pointer; background: transparent; color: rgb(255, 255, 255); top: 50%; transform: translate(0px, -50%); padding: 0px; border: none; }

.cs-carousel .slick-prev:hover, .cs-carousel .slick-prev:focus, .cs-carousel .slick-next:hover, .cs-carousel .slick-next:focus { background: transparent; color: rgb(255, 255, 255); opacity: 0.75; }

.cs-carousel .slick-prev.slick-disabled::before, .cs-carousel .slick-next.slick-disabled::before { opacity: 0.5; }

.cs-carousel .slick-prev::before, .cs-carousel .slick-next::before { font-size: 20px; line-height: 1; color: rgb(255, 255, 255); opacity: 1; -webkit-font-smoothing: antialiased; }

.cs-carousel .slick-prev span, .cs-carousel .slick-next span { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

@media screen and (max-width: 419px) {
  .cs-carousel .slick-prev, .cs-carousel .slick-next { top: initial; bottom: 15px; transform: initial; }
}

.cs-carousel .slick-prev { left: 15px; }

.cs-carousel .slick-next { right: 15px; }

.cs-carousel .slick-dots { position: absolute; bottom: 20px; list-style: none; display: block; text-align: center; padding: 0px; margin: 0px; width: 100%; }

.cs-carousel .slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }

.cs-carousel .slick-dots li button { border: 0px; background: transparent; display: block; height: 20px; width: 20px; font-size: 9px; color: rgb(255, 255, 255); opacity: 0.5; -webkit-font-smoothing: antialiased; padding: 5px; cursor: pointer; }

.cs-carousel .slick-dots li button:hover, .cs-carousel .slick-dots li button:focus { opacity: 0.75; }

.cs-carousel .slick-dots li.slick-active button { color: rgb(255, 255, 255); opacity: 1; }

.cs-carousel .slick-play-button { position: absolute; bottom: 45px; left: 50%; margin-left: -2.5em; background: transparent; border: 0px; color: rgb(255, 255, 255); font-size: 1.2em; padding: 0.35em 2em; cursor: pointer; }

.cs-carousel .slick-play-button span { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.cs-carousel.cs-carousel-dark .slick-prev, .cs-carousel.cs-carousel-dark .slick-next { color: rgb(0, 0, 0); }

.cs-carousel.cs-carousel-dark .slick-prev:hover, .cs-carousel.cs-carousel-dark .slick-prev:focus, .cs-carousel.cs-carousel-dark .slick-prev::before, .cs-carousel.cs-carousel-dark .slick-next:hover, .cs-carousel.cs-carousel-dark .slick-next:focus, .cs-carousel.cs-carousel-dark .slick-next::before { color: rgb(0, 0, 0); }

.cs-carousel.cs-carousel-dark .slick-dots > li > button { color: rgb(0, 0, 0); }

.cs-carousel.cs-carousel-dark .slick-play-button { color: rgb(0, 0, 0); }

@media screen and (min-width: 420px) {
  .cs-carousel.cs-carousel-pad-nav .slick-prev { left: -30px; }
  .cs-carousel.cs-carousel-pad-nav .slick-next { right: -30px; }
}

.cs-carousel.cs-carousel-pad-nav .slick-dots { bottom: -30px; }

.cs-carousel.cs-carousel-pad-nav .slick-slider { margin: 0px 0px 50px; }

@media screen and (min-width: 768px) and (max-width: 1270px) {
  .cs-carousel.cs-carousel-pad-nav { padding: 0px 35px; }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .cs-carousel.cs-carousel-pad-nav { padding: 0px 35px; }
}

@media screen and (max-width: 419px) {
  .cs-carousel.cs-carousel-pad-nav .slick-next, .cs-carousel.cs-carousel-pad-nav .slick-prev { bottom: -37px; }
}

.cs-carousel.cs-carousel-pad-nav.cs-carousel-with-pause-button { padding-bottom: 30px; }

.cs-carousel.cs-carousel-pad-nav.cs-carousel-with-pause-button .slick-slider { margin: 0px 0px 80px; }

.cs-carousel.cs-carousel-pad-nav.cs-carousel-with-pause-button .slick-dots { bottom: -65px; }

.cs-carousel.cs-carousel-pad-nav.cs-carousel-with-pause-button .slick-play-button { bottom: 70px; }

.cs-carousel.cs-carousel-slide-gutter { margin-left: -0.5em; margin-right: -0.5em; width: initial; }

.cs-carousel.cs-carousel-slide-gutter .slick-slide { padding: 5px 0.5em; }

@media screen and (min-width: 420px) {
  .cs-carousel.cs-carousel-slide-gutter.cs-carousel-pad-nav .slick-prev { left: -25px; }
  .cs-carousel.cs-carousel-slide-gutter.cs-carousel-pad-nav .slick-next { right: -25px; }
}