@charset "utf-8";

.tabs { border-bottom: 1px solid rgb(200, 200, 200); margin: 0px 0px 5px; padding-bottom: 4px; padding-left: 0px; }

.tabs .current a { border-bottom: 2px solid rgb(40, 141, 193); }

.tabs .current a:hover { border-bottom: 2px solid rgb(28, 99, 135); }

.tabs li { display: inline; margin-right: 10px; }

.tabs a { color: rgb(94, 94, 94); font-size: 12px; padding: 5px 10px; text-decoration: none; }

.tabs a.active { border-bottom: 2px solid rgb(40, 141, 193); }

.tabs a:hover { border-bottom: 2px solid rgb(200, 200, 200); color: rgb(47, 47, 47); }

.tab-content { display: none; }

.tab-content.current { display: inherit; }