@charset "utf-8";

.common--autocomplete--components--container { position: relative; }

.common--autocomplete--components--collapsed-icon { cursor: pointer; margin-left: -2px; }

.common--autocomplete--components--collapsed-icon > .socrata-icon { display: inline-block; height: 18px; position: relative; width: 19px; top: 5px; }

.common--autocomplete--components--collapsed-icon svg { height: 18px; left: 0px; position: absolute; top: 0px; width: 22px; }

.common--autocomplete--components--collapsed-icon svg path { fill: rgb(255, 255, 255); }

#site-chrome-admin-header .common--autocomplete--components--collapsed-icon { height: 46px; margin-right: 0px; padding: 8px 22px; position: relative; }

#site-chrome-admin-header .common--autocomplete--components--collapsed-icon .socrata-icon { display: block; height: 18px; width: 18px; top: 5px; }

#site-chrome-admin-header .common--autocomplete--components--collapsed-icon svg { height: 18px; width: 18px; }

#site-chrome-admin-header .common--autocomplete--components--collapsed-icon svg path { fill: rgb(255, 255, 255); }

#site-chrome-admin-header .expanded .socrata-icon-search { top: 0px; }

#site-chrome-admin-header .site-chrome-admin-search .collapsed { top: 0px; }

#site-chrome-admin-header .site-chrome-admin-search .expanded { top: -13px; }

#site-chrome-admin-header.site-chrome-small .site-chrome-admin-search.collapsible-search { padding: 0px; max-height: 34px; }

#site-chrome-admin-header.site-chrome-small .site-chrome-admin-search .collapsed { top: 0px; padding: 8px 10px; height: 36px; }

#site-chrome-admin-header.site-chrome-small .site-chrome-admin-search .collapsed .socrata-icon { top: 0px; }

#site-chrome-admin-header.site-chrome-small .site-chrome-admin-search .expanded { top: -21px; }