@charset "utf-8";

@media print {
  @page { margin: 0.5cm; }
  body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
  a { color: rgb(51, 51, 153); text-decoration: underline; }
  #siteHeader .siteUserNav { display: none; }
  .asset-action-bar { display: none; }
  #siteFooter { display: none; }
  .siteOuterWrapper { max-width: 100%; }
  .siteOuterWrapper .siteContentWrapper { padding: 0px; }
  #datasetBar #actionBar, #datasetBar #actionBox { display: none; }
  .measuresContainer, .healthContainer, .narrative, .component-Visualization, .component-HorizontalContainer { break-inside: avoid; }
  .component-Visualization, .component-HorizontalContainer { overflow: hidden; }
  .calloutContainer.targetValueCallout { left: inherit !important; right: 10px !important; }
  .calloutConnectorLine.targetValueCallout { visibility: hidden; }
}